In [56]:
import pandas as pd
import numpy as np
import random

In [57]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans_no =[]
act_loans_no = [] 
ref_no =[]
fd = []

In [58]:
def list_loan_gen(len,num):
    x = []
    if num == 0: 
        for i in range(0, len):
            x.append(random.randint(0,1000)*10000) 
    else:
        for i in range(0, len):
            x.append(random.randint(1, 5))
    return x

def twoD_loan_gen(p_loans, num):
    x = []
    for i in p_loans:
        x.append(list_loan_gen(i, num))
    return x

for i in range(0, 1000):
    reg_id.append(random.randint(1000, 9999))
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.randint(0, 3)))
    act_loans_no.append(int(random.randint(0, 1)))
    ref_no.append(int(random.randint(0, 3)))
    fd.append(int(random.randint(0, 100)*1000))
    
ref = twoD_loan_gen(ref_no, 1)
p_loans = twoD_loan_gen(p_loans_no, 0)
act_loans = twoD_loan_gen(act_loans_no, 0)

In [59]:
df = pd.DataFrame(data={'ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans, 'Level of Referees':ref, 'Fixed Deposit':fd})
df.head()

,A/c Bal,Active Loans,Fixed Deposit,ID,Level of Referees,Paid Loans
0,3711633,[3890000],91000,9548,[1],[]
1,8865055,[6540000],88000,5055,[],[5540000]
2,405172,[770000],25000,4744,[4],"[6370000, 1680000]"
3,9654718,[4950000],38000,5503,[4],"[7550000, 8960000]"
4,384219,[],58000,2722,"[4, 1]","[5280000, 1890000]"

In [60]:
cols = df.columns.tolist()
cols = ['ID', 'A/c Bal', 'Fixed Deposit', 'Active Loans', 'Level of Referees', 'Paid Loans']
df = df[cols]
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans
0,9548,3711633,91000,[3890000],[1],[]
1,5055,8865055,88000,[6540000],[],[5540000]
2,4744,405172,25000,[770000],[4],"[6370000, 1680000]"
3,5503,9654718,38000,[4950000],[4],"[7550000, 8960000]"
4,2722,384219,58000,[],"[4, 1]","[5280000, 1890000]"
5,7976,6403761,69000,[7290000],"[2, 4, 3]",[5430000]
6,2139,7229174,76000,[3610000],[],[2070000]
7,1495,2982035,16000,[1900000],[],"[8900000, 4620000]"
8,4732,3785829,28000,[1110000],"[4, 4, 1]","[1810000, 5030000, 4620000]"
9,2441,8822207,19000,[490000],"[5, 1, 5]",[]
10,8381,5637874,23000,[5810000],[1],"[3490000, 3650000, 170000]"
11,9163,4203501,69000,[],[4],[2470000]
12,3946,7009360,64000,[7170000],[],"[200000, 8290000, 7890000]"
13,2834,7884158,83000,[],"[1, 5, 4]",[4840000]
14,4683,2685765,54000,[1800000],"[3, 5, 4]","[5800000, 2730000, 8870000]"
15,8275,7249086,84000,[],[],[]
16,2518,1220324,41000,[],[3],"[3270000, 3180000]"
17,3525,4349965,31000,[],[],"[3460000, 7540000, 2400000]"
18,2748,3897775,95000,[5960000],[],[]
19,4130,2976233,13000,[],"[1, 3, 3]","[630000, 6940000]"
20,4006,6426160,75000,[],"[2, 5, 4]",[]
21,8549,1678643,100000,[],[4],[]
22,2925,1702321,11000,[4000000],[2],[1230000]
23,8462,7516794,82000,[],[],"[1940000, 4940000]"
24,6109,7618307,3000,[],[1],[3930000]
25,1843,7161165,83000,[],[],[320000]
26,7561,5927455,41000,[4870000],[],"[4480000, 220000]"
27,4590,9835940,50000,[4670000],"[4, 5, 1]","[8980000, 8190000, 4530000]"
28,6441,8218287,49000,[870000],"[1, 1, 3]","[7220000, 3370000]"
29,8869,4703845,40000,[],[3],[6700000]
...,...,...,...,...,...,...
970,9465,4040319,10000,[],[],"[400000, 1060000, 9210000]"
971,7560,9910938,9000,[9600000],"[5, 2]","[960000, 1560000]"
972,5295,5589917,26000,[],"[2, 3, 4]","[2790000, 1090000]"
973,4685,7672648,64000,[5560000],[3],[650000]
974,2861,8719492,74000,[],"[5, 5]","[8430000, 8050000, 6840000]"
975,7905,8564315,61000,[2070000],"[1, 1]","[1110000, 4040000]"
976,5302,7227317,28000,[],[],"[930000, 600000]"
977,5826,269390,38000,[3220000],[5],[]
978,1649,1646900,73000,[],[],"[920000, 550000, 5750000]"
979,3693,3122402,73000,[840000],"[2, 5]",[]
980,5049,5615687,80000,[],"[5, 3]",[]
981,9951,5037502,13000,[40000],[3],"[5940000, 8290000, 4330000]"
982,3639,501561,53000,[],[],[6410000]
983,6723,2914175,36000,[],[],"[4250000, 5920000, 2600000]"
984,5128,1346853,53000,[6980000],"[2, 2, 5]","[3710000, 1270000]"
985,7025,7724656,31000,[],"[3, 3]","[2500000, 4710000, 5260000]"
986,4092,2318137,72000,[],"[4, 5]","[1080000, 20000, 6040000]"
987,1802,9198305,11000,[],[3],"[1450000, 6910000]"
988,5469,9679916,83000,[7770000],"[4, 1, 4]","[3090000, 2090000, 880000]"
989,5751,1404109,83000,[8610000],[],"[4390000, 7860000, 4150000]"
990,8107,6063845,36000,[9920000],[5],[]
991,5069,654908,18000,[340000],"[4, 4]",[]
992,5229,3791841,27000,[],"[2, 4, 3]",[]
993,3754,3347470,63000,[7630000],"[5, 2]",[]
994,4339,7786304,61000,[],[],[]
995,5404,3547870,40000,[1240000],"[3, 2]",[]
996,9413,113562,46000,[],[4],"[3920000, 6510000]"
997,2660,2578124,28000,[],[1],[7640000]
998,7501,9695187,90000,[5340000],"[1, 3, 4]","[9980000, 9790000, 9550000]"
999,9496,1340973,93000,[],[],"[5470000, 3270000]"

In [61]:
df['col12'] = df['A/c Bal']+df['Fixed Deposit']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['col12'] = scaler.fit_transform(df['col12'].reshape(-1,1))

C:\Users\mittr\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """
C:\Users\mittr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [62]:
x = [] 
for i in df['Paid Loans']:
    if(len(i)>0):
        k = 0
        for j in range(0,len(i)):
            k = k + i[j]
        x.append(k)
    else:
        x.append(0)
x

#df['Paid Loans']

[0,
 5540000,
 8050000,
 16510000,
 7170000,
 5430000,
 2070000,
 13520000,
 11460000,
 0,
 7310000,
 2470000,
 16380000,
 4840000,
 17400000,
 0,
 6450000,
 13400000,
 0,
 7570000,
 0,
 0,
 1230000,
 6880000,
 3930000,
 320000,
 4700000,
 21700000,
 10590000,
 6700000,
 10810000,
 3860000,
 18370000,
 7050000,
 3780000,
 0,
 0,
 7040000,
 8870000,
 4170000,
 0,
 9620000,
 9130000,
 7550000,
 6430000,
 9860000,
 5430000,
 5780000,
 0,
 17490000,
 6840000,
 0,
 13770000,
 15320000,
 19450000,
 0,
 5550000,
 0,
 14250000,
 0,
 8820000,
 9360000,
 0,
 20150000,
 2910000,
 16300000,
 8140000,
 16640000,
 3250000,
 24610000,
 20510000,
 14160000,
 0,
 21990000,
 5020000,
 1360000,
 3830000,
 7180000,
 10300000,
 0,
 10340000,
 920000,
 0,
 180000,
 3370000,
 2320000,
 15900000,
 0,
 6670000,
 0,
 4580000,
 2180000,
 0,
 4620000,
 0,
 12800000,
 15760000,
 20930000,
 0,
 2540000,
 430000,
 0,
 11620000,
 19860000,
 14390000,
 8460000,
 9600000,
 18870000,
 0,
 23820000,
 8010000,
 0,
 1970000,
 5340000,
 0,
 9220000,
 9140000,
 0,
 8990000,
 4860000,
 12030000,
 0,
 3310000,
 0,
 10050000,
 7330000,
 3890000,
 3120000,
 22840000,
 2670000,
 20220000,
 15900000,
 15450000,
 8930000,
 14530000,
 15320000,
 0,
 10750000,
 0,
 8280000,
 7020000,
 3340000,
 0,
 8230000,
 0,
 8440000,
 7160000,
 0,
 7070000,
 6030000,
 15990000,
 0,
 12670000,
 6570000,
 0,
 16460000,
 7660000,
 13760000,
 380000,
 0,
 0,
 11670000,
 10210000,
 9330000,
 19230000,
 6030000,
 0,
 0,
 1050000,
 8280000,
 7610000,
 5540000,
 6810000,
 25560000,
 10050000,
 2000000,
 13940000,
 22240000,
 7240000,
 15710000,
 8620000,
 18920000,
 8360000,
 6920000,
 4270000,
 16540000,
 9790000,
 23750000,
 7350000,
 0,
 11590000,
 2490000,
 12680000,
 17330000,
 0,
 0,
 17470000,
 790000,
 0,
 17270000,
 23760000,
 13170000,
 7350000,
 6630000,
 240000,
 0,
 0,
 15600000,
 11920000,
 0,
 3890000,
 8200000,
 9580000,
 560000,
 4400000,
 0,
 4740000,
 0,
 1870000,
 220000,
 10940000,
 16110000,
 24130000,
 6490000,
 0,
 0,
 2170000,
 15550000,
 6350000,
 2470000,
 0,
 9950000,
 7060000,
 22090000,
 14590000,
 4240000,
 5540000,
 18300000,
 10450000,
 0,
 5620000,
 10380000,
 10950000,
 16170000,
 0,
 20170000,
 16380000,
 0,
 24200000,
 8370000,
 9180000,
 0,
 2840000,
 20410000,
 3750000,
 10000,
 0,
 14690000,
 2260000,
 20100000,
 0,
 0,
 0,
 10130000,
 3560000,
 0,
 20500000,
 1610000,
 0,
 6210000,
 6490000,
 0,
 0,
 0,
 2110000,
 7950000,
 11210000,
 8080000,
 14370000,
 15320000,
 0,
 5940000,
 8140000,
 6760000,
 0,
 7230000,
 12480000,
 3800000,
 8320000,
 6440000,
 0,
 0,
 10360000,
 5330000,
 6370000,
 18710000,
 5420000,
 5330000,
 13010000,
 15210000,
 7850000,
 13730000,
 5560000,
 11740000,
 0,
 19390000,
 2940000,
 11040000,
 0,
 27360000,
 0,
 21750000,
 1340000,
 15070000,
 2480000,
 3400000,
 0,
 16680000,
 8590000,
 0,
 13000000,
 14350000,
 10680000,
 0,
 10540000,
 0,
 19090000,
 6970000,
 8690000,
 12560000,
 15660000,
 1030000,
 8990000,
 0,
 12720000,
 10360000,
 12610000,
 4730000,
 7280000,
 7660000,
 5130000,
 7170000,
 11460000,
 5130000,
 0,
 8840000,
 7310000,
 11890000,
 0,
 12110000,
 5100000,
 2450000,
 15320000,
 21040000,
 16990000,
 9640000,
 0,
 0,
 0,
 5370000,
 0,
 6160000,
 0,
 9700000,
 9670000,
 18050000,
 11130000,
 5790000,
 16060000,
 1880000,
 0,
 3770000,
 0,
 15360000,
 12560000,
 14710000,
 340000,
 5260000,
 4290000,
 410000,
 0,
 0,
 5440000,
 9940000,
 8600000,
 17140000,
 0,
 0,
 7100000,
 530000,
 0,
 12970000,
 0,
 0,
 6060000,
 4560000,
 0,
 0,
 12710000,
 11240000,
 8410000,
 6100000,
 5720000,
 2570000,
 10450000,
 23400000,
 0,
 10310000,
 9250000,
 13480000,
 1800000,
 12530000,
 1630000,
 0,
 11480000,
 19660000,
 13770000,
 10860000,
 2840000,
 1160000,
 0,
 7870000,
 0,
 4360000,
 150000,
 6860000,
 10970000,
 18850000,
 1670000,
 18640000,
 7310000,
 10710000,
 15770000,
 5240000,
 17920000,
 5780000,
 7080000,
 4160000,
 9660000,
 5780000,
 9900000,
 7520000,
 0,
 0,
 15310000,
 14790000,
 17140000,
 640000,
 12880000,
 1770000,
 19180000,
 0,
 15730000,
 6430000,
 7860000,
 0,
 1000000,
 2010000,
 0,
 16460000,
 25740000,
 20250000,
 26550000,
 0,
 18670000,
 18610000,
 18050000,
 4030000,
 3760000,
 15340000,
 13070000,
 0,
 730000,
 5970000,
 5910000,
 16520000,
 5540000,
 0,
 5480000,
 1720000,
 9030000,
 5280000,
 12990000,
 20320000,
 0,
 6210000,
 21240000,
 7970000,
 15610000,
 5970000,
 6990000,
 0,
 2570000,
 11600000,
 4850000,
 15660000,
 7690000,
 2820000,
 12260000,
 3230000,
 9560000,
 17200000,
 11160000,
 0,
 10670000,
 6450000,
 6270000,
 17570000,
 10910000,
 15990000,
 20710000,
 4550000,
 17190000,
 13060000,
 4020000,
 6060000,
 1910000,
 7550000,
 0,
 19770000,
 14910000,
 0,
 1010000,
 0,
 0,
 11720000,
 0,
 7910000,
 0,
 0,
 25200000,
 0,
 10960000,
 8340000,
 0,
 0,
 10750000,
 16970000,
 21230000,
 9710000,
 5580000,
 15970000,
 3880000,
 0,
 0,
 17350000,
 10870000,
 0,
 12360000,
 0,
 5630000,
 0,
 6550000,
 3640000,
 0,
 0,
 4660000,
 7420000,
 0,
 8180000,
 8050000,
 0,
 0,
 0,
 0,
 270000,
 6110000,
 0,
 9340000,
 15860000,
 3580000,
 0,
 7100000,
 14820000,
 15470000,
 8040000,
 0,
 4760000,
 1540000,
 2550000,
 4710000,
 2650000,
 14000000,
 0,
 11920000,
 15100000,
 0,
 9200000,
 5260000,
 9120000,
 0,
 21360000,
 19380000,
 11880000,
 13540000,
 15390000,
 14320000,
 6850000,
 12280000,
 6560000,
 3750000,
 0,
 4430000,
 11090000,
 19010000,
 0,
 7050000,
 2680000,
 20960000,
 0,
 0,
 14730000,
 0,
 5390000,
 3710000,
 0,
 20950000,
 0,
 2910000,
 9030000,
 0,
 11620000,
 9830000,
 11480000,
 0,
 0,
 0,
 6120000,
 14650000,
 28070000,
 7790000,
 12600000,
 16800000,
 0,
 4730000,
 0,
 23110000,
 10300000,
 8350000,
 7980000,
 0,
 21510000,
 7020000,
 9660000,
 7450000,
 10020000,
 12620000,
 10890000,
 9950000,
 8970000,
 5150000,
 5630000,
 21960000,
 7920000,
 0,
 9690000,
 2000000,
 0,
 2460000,
 10280000,
 12560000,
 0,
 8960000,
 9440000,
 1280000,
 14690000,
 7280000,
 0,
 6240000,
 0,
 10650000,
 10880000,
 1510000,
 20010000,
 12670000,
 4700000,
 6640000,
 0,
 14310000,
 6970000,
 14520000,
 8710000,
 7720000,
 21940000,
 0,
 7430000,
 0,
 0,
 17990000,
 19640000,
 9400000,
 23860000,
 4380000,
 0,
 0,
 5480000,
 16410000,
 16000000,
 10240000,
 12100000,
 0,
 8770000,
 14510000,
 12720000,
 12970000,
 4190000,
 20690000,
 490000,
 900000,
 0,
 17810000,
 11940000,
 11380000,
 4190000,
 9380000,
 8960000,
 22570000,
 3790000,
 6550000,
 9380000,
 0,
 8680000,
 0,
 15360000,
 8800000,
 4430000,
 9980000,
 8320000,
 7370000,
 0,
 5770000,
 0,
 9090000,
 8440000,
 24750000,
 20590000,
 7120000,
 9990000,
 11900000,
 0,
 9360000,
 13870000,
 0,
 15370000,
 7830000,
 11660000,
 0,
 17890000,
 13040000,
 17190000,
 5640000,
 0,
 16920000,
 2310000,
 0,
 1310000,
 0,
 5140000,
 20150000,
 8430000,
 2740000,
 0,
 0,
 15980000,
 15280000,
 13290000,
 7100000,
 6510000,
 8610000,
 10720000,
 1670000,
 22430000,
 9370000,
 10820000,
 0,
 330000,
 0,
 0,
 0,
 2660000,
 5870000,
 10590000,
 9860000,
 16690000,
 16640000,
 0,
 0,
 4340000,
 14920000,
 8020000,
 9080000,
 0,
 3460000,
 0,
 0,
 17800000,
 13260000,
 3530000,
 0,
 12970000,
 17730000,
 10660000,
 3510000,
 0,
 7850000,
 3440000,
 13230000,
 11010000,
 790000,
 6960000,
 8670000,
 13060000,
 19360000,
 6450000,
 0,
 0,
 9550000,
 14240000,
 0,
 0,
 0,
 0,
 15790000,
 4120000,
 13160000,
 9390000,
 4070000,
 13620000,
 18560000,
 0,
 5890000,
 7420000,
 6340000,
 12780000,
 0,
 12000000,
 8700000,
 0,
 13390000,
 0,
 10020000,
 9980000,
 12200000,
 8340000,
 15750000,
 0,
 14520000,
 0,
 870000,
 0,
 7510000,
 0,
 4360000,
 20280000,
 14420000,
 9780000,
 11530000,
 0,
 3860000,
 11030000,
 15410000,
 9210000,
 15380000,
 4360000,
 13850000,
 5370000,
 0,
 19010000,
 0,
 8290000,
 11750000,
 12620000,
 12240000,
 9450000,
 0,
 4260000,
 2670000,
 0,
 12760000,
 0,
 5760000,
 5350000,
 25740000,
 14480000,
 7920000,
 0,
 20170000,
 0,
 9090000,
 0,
 0,
 140000,
 14090000,
 10150000,
 12740000,
 18180000,
 17160000,
 3090000,
 0,
 0,
 14990000,
 23550000,
 15010000,
 400000,
 2480000,
 8820000,
 12030000,
 19060000,
 2040000,
 13830000,
 8760000,
 0,
 23350000,
 22160000,
 2010000,
 0,
 17990000,
 12720000,
 3980000,
 7890000,
 0,
 12950000,
 18740000,
 0,
 11620000,
 6570000,
 17470000,
 700000,
 4150000,
 13530000,
 0,
 14220000,
 14910000,
 5420000,
 0,
 0,
 6450000,
 2480000,
 8550000,
 5690000,
 0,
 0,
 13280000,
 5490000,
 7780000,
 15680000,
 5020000,
 8890000,
 1250000,
 0,
 4610000,
 10100000,
 13370000,
 6810000,
 13650000,
 12410000,
 6970000,
 10740000,
 6730000,
 2820000,
 11730000,
 4170000,
 0,
 8820000,
 4170000,
 470000,
 5110000,
 0,
 0,
 450000,
 10670000,
 2520000,
 3880000,
 650000,
 23320000,
 5150000,
 1530000,
 0,
 7220000,
 0,
 0,
 18560000,
 6410000,
 12770000,
 4980000,
 12470000,
 7140000,
 8360000,
 6060000,
 16400000,
 0,
 0,
 0,
 0,
 0,
 0,
 10430000,
 7640000,
 29320000,
 8740000]

In [63]:
df['Paid Loans Sum'] = x

In [64]:



scaler = MinMaxScaler()
df['Paid Loans Sum'] = scaler.fit_transform(df['Paid Loans Sum'].reshape(-1,1))

C:\Users\mittr\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """
C:\Users\mittr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [93]:

def func(arr):
    
    bias = 1
    
    arr2 = []
    for j in range(len(arr)):
        arr2.append(arr[j])
        
    arr2 = sorted(arr2)
    
    lis = []
    for i in range(len(arr2)):
        elem = bias * arr2[i]
        bias *= 2
        lis.append(elem)
    

df['Reference_factor'] = df['Level of Referees'].apply(func)

In [94]:
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans,col12,Paid Loans Sum,Reference_factor
0,9548,3711633,91000,[3890000],[1],[],0.374957,0.000000,None
1,5055,8865055,88000,[6540000],[],[5540000],0.888586,0.188950,None
2,4744,405172,25000,[770000],[4],"[6370000, 1680000]",0.038636,0.274557,None
3,5503,9654718,38000,[4950000],[4],"[7550000, 8960000]",0.962350,0.563097,None
4,2722,384219,58000,[],"[4, 1]","[5280000, 1890000]",0.039837,0.244543,None
5,7976,6403761,69000,[7290000],"[2, 4, 3]",[5430000],0.641237,0.185198,None
6,2139,7229174,76000,[3610000],[],[2070000],0.724250,0.070600,None
7,1495,2982035,16000,[1900000],[],"[8900000, 4620000]",0.294718,0.461119,None
8,4732,3785829,28000,[1110000],"[4, 4, 1]","[1810000, 5030000, 4620000]",0.376073,0.390859,None
9,2441,8822207,19000,[490000],"[5, 1, 5]",[],0.877432,0.000000,None
10,8381,5637874,23000,[5810000],[1],"[3490000, 3650000, 170000]",0.560271,0.249318,None
11,9163,4203501,69000,[],[4],[2470000],0.421815,0.084243,None
12,3946,7009360,64000,[7170000],[],"[200000, 8290000, 7890000]",0.701132,0.558663,None
13,2834,7884158,83000,[],"[1, 5, 4]",[4840000],0.790267,0.165075,None
14,4683,2685765,54000,[1800000],"[3, 5, 4]","[5800000, 2730000, 8870000]",0.268962,0.593452,None
15,8275,7249086,84000,[],[],[],0.727034,0.000000,None
16,2518,1220324,41000,[],[3],"[3270000, 3180000]",0.121523,0.219986,None
17,3525,4349965,31000,[],[],"[3460000, 7540000, 2400000]",0.432631,0.457026,None
18,2748,3897775,95000,[5960000],[],[],0.393919,0.000000,None
19,4130,2976233,13000,[],"[1, 3, 3]","[630000, 6940000]",0.293840,0.258186,None
20,4006,6426160,75000,[],"[2, 5, 4]",[],0.644069,0.000000,None
21,8549,1678643,100000,[],[4],[],0.173113,0.000000,None
22,2925,1702321,11000,[4000000],[2],[1230000],0.166599,0.041951,None
23,8462,7516794,82000,[],[],"[1940000, 4940000]",0.753532,0.234652,None
24,6109,7618307,3000,[],[1],[3930000],0.755777,0.134038,None
25,1843,7161165,83000,[],[],[320000],0.718166,0.010914,None
26,7561,5927455,41000,[4870000],[],"[4480000, 220000]",0.590945,0.160300,None
27,4590,9835940,50000,[4670000],"[4, 5, 1]","[8980000, 8190000, 4530000]",0.981619,0.740109,None
28,6441,8218287,49000,[870000],"[1, 1, 3]","[7220000, 3370000]",0.820198,0.361187,None
29,8869,4703845,40000,[],[3],[6700000],0.468820,0.228513,None
...,...,...,...,...,...,...,...,...,...
970,9465,4040319,10000,[],[],"[400000, 1060000, 9210000]",0.399658,0.363915,None
971,7560,9910938,9000,[9600000],"[5, 2]","[960000, 1560000]",0.985009,0.085948,None
972,5295,5589917,26000,[],"[2, 3, 4]","[2790000, 1090000]",0.555788,0.132333,None
973,4685,7672648,64000,[5560000],[3],[650000],0.767279,0.022169,None
974,2861,8719492,74000,[],"[5, 5]","[8430000, 8050000, 6840000]",0.872674,0.795362,None
975,7905,8564315,61000,[2070000],"[1, 1]","[1110000, 4040000]",0.855902,0.175648,None
976,5302,7227317,28000,[],[],"[930000, 600000]",0.719278,0.052183,None
977,5826,269390,38000,[3220000],[5],[],0.026391,0.000000,None
978,1649,1646900,73000,[],[],"[920000, 550000, 5750000]",0.167255,0.246248,None
979,3693,3122402,73000,[840000],"[2, 5]",[],0.314400,0.000000,None
980,5049,5615687,80000,[],"[5, 3]",[],0.563743,0.000000,None
981,9951,5037502,13000,[40000],[3],"[5940000, 8290000, 4330000]",0.499401,0.633015,None
982,3639,501561,53000,[],[],[6410000],0.051041,0.218622,None
983,6723,2914175,36000,[],[],"[4250000, 5920000, 2600000]",0.289945,0.435539,None
984,5128,1346853,53000,[6980000],"[2, 2, 5]","[3710000, 1270000]",0.135338,0.169850,None
985,7025,7724656,31000,[],"[3, 3]","[2500000, 4710000, 5260000]",0.769175,0.425307,None
986,4092,2318137,72000,[],"[4, 5]","[1080000, 20000, 6040000]",0.234095,0.243520,None
987,1802,9198305,11000,[],[3],"[1450000, 6910000]",0.914141,0.285130,None
988,5469,9679916,83000,[7770000],"[4, 1, 4]","[3090000, 2090000, 880000]",0.969350,0.206685,None
989,5751,1404109,83000,[8610000],[],"[4390000, 7860000, 4150000]",0.144040,0.559345,None
990,8107,6063845,36000,[9920000],[5],[],0.604048,0.000000,None
991,5069,654908,18000,[340000],"[4, 4]",[],0.062843,0.000000,None
992,5229,3791841,27000,[],"[2, 4, 3]",[],0.376573,0.000000,None
993,3754,3347470,63000,[7630000],"[5, 2]",[],0.335848,0.000000,None
994,4339,7786304,61000,[],[],[],0.778314,0.000000,None
995,5404,3547870,40000,[1240000],"[3, 2]",[],0.353539,0.000000,None
996,9413,113562,46000,[],[4],"[3920000, 6510000]",0.011649,0.355730,None
997,2660,2578124,28000,[],[1],[7640000],0.255634,0.260573,None
998,7501,9695187,90000,[5340000],"[1, 3, 4]","[9980000, 9790000, 9550000]",0.971571,1.000000,None
999,9496,1340973,93000,[],[],"[5470000, 3270000]",0.138741,0.298090,None