In [3]:
import pandas as pd
import numpy as np
import random

In [4]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans_no =[]
act_loans_no = [] 
ref_no =[]
fd = []

In [5]:
def list_loan_gen(len,num):
    x = []
    if num == 0: 
        for i in range(0, len):
            x.append(random.randint(0,1000)*10000) 
    else:
        for i in range(0, len):
            x.append(random.randint(1, 5))
    return x

def twoD_loan_gen(p_loans, num):
    x = []
    for i in p_loans:
        x.append(list_loan_gen(i, num))
    return x

for i in range(0, 1000):
    reg_id.append(random.randint(1000, 9999))
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.randint(0, 3)))
    act_loans_no.append(int(random.randint(0, 1)))
    ref_no.append(int(random.randint(0, 3)))
    fd.append(int(random.randint(0, 100)*1000))
    
ref = twoD_loan_gen(ref_no, 1)
p_loans = twoD_loan_gen(p_loans_no, 0)
act_loans = twoD_loan_gen(act_loans_no, 0)

In [6]:
df = pd.DataFrame(data={'ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans, 'Level of Referees':ref, 'Fixed Deposit':fd})
df.head()

,A/c Bal,Active Loans,Fixed Deposit,ID,Level of Referees,Paid Loans
0,9111907,[6730000],7000,6652,"[1, 1, 2]",[6420000]
1,217152,[730000],61000,7895,[],"[8810000, 7670000, 6620000]"
2,9349050,[],41000,1258,[3],"[4660000, 3950000, 3650000]"
3,5871704,[820000],39000,7156,[],[230000]
4,4674149,[8080000],2000,6882,"[1, 2, 1]","[1130000, 3510000, 9910000]"

In [7]:
cols = df.columns.tolist()
cols = ['ID', 'A/c Bal', 'Fixed Deposit', 'Active Loans', 'Level of Referees', 'Paid Loans']
df = df[cols]
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans
0,6652,9111907,7000,[6730000],"[1, 1, 2]",[6420000]
1,7895,217152,61000,[730000],[],"[8810000, 7670000, 6620000]"
2,1258,9349050,41000,[],[3],"[4660000, 3950000, 3650000]"
3,7156,5871704,39000,[820000],[],[230000]
4,6882,4674149,2000,[8080000],"[1, 2, 1]","[1130000, 3510000, 9910000]"
5,6418,4297828,67000,[1310000],"[5, 5]","[6430000, 5140000, 9330000]"
6,8753,2935226,38000,[],[2],"[4120000, 6670000, 3690000]"
7,9715,206996,45000,[],"[4, 3, 4]",[]
8,5052,410072,7000,[],"[4, 2, 5]",[2430000]
9,7659,4340814,40000,[8910000],"[3, 4]",[4770000]
10,9129,445111,1000,[420000],[],[4920000]
11,3601,2057426,58000,[],"[5, 1]",[]
12,6095,195839,10000,[],"[3, 5]",[4660000]
13,2573,6301086,64000,[],[5],[]
14,9730,3785285,19000,[],"[3, 2]","[5650000, 8370000]"
15,2857,7051020,57000,[8600000],"[5, 5, 3]","[9710000, 4670000, 2500000]"
16,3691,5959533,71000,[],[],[]
17,2095,7132511,55000,[3880000],"[4, 2, 2]","[9920000, 3380000]"
18,4145,4862477,94000,[3240000],"[5, 5, 2]","[1740000, 4320000, 4300000]"
19,6873,3839957,54000,[],"[5, 3, 3]","[9630000, 7530000]"
20,5782,1757375,53000,[],[],"[7430000, 4220000]"
21,9107,983187,21000,[],"[3, 1]","[4460000, 9590000]"
22,6489,6773343,62000,[6940000],"[2, 1, 4]",[]
23,1918,3504702,5000,[250000],[1],"[2660000, 5760000]"
24,4533,2091460,11000,[6290000],[4],"[1030000, 2250000, 3610000]"
25,1795,2466481,50000,[],[2],"[7740000, 1060000, 3050000]"
26,1721,4140294,16000,[7750000],"[2, 5]","[5780000, 2960000, 9260000]"
27,3671,3676891,13000,[4610000],[4],"[5910000, 4380000]"
28,3006,5588997,44000,[2680000],[],[1980000]
29,8244,7786210,78000,[],"[5, 1]",[]
...,...,...,...,...,...,...
970,4119,4300706,28000,[7970000],"[2, 4]",[3680000]
971,1514,4427606,92000,[2430000],"[5, 4]","[8650000, 5100000]"
972,2357,2866776,65000,[1140000],"[2, 1]","[3040000, 4690000]"
973,5472,6973237,99000,[4920000],[5],[4310000]
974,2151,7888282,55000,[5830000],"[4, 3]","[2140000, 7390000, 7390000]"
975,5928,2470343,8000,[1920000],"[1, 3, 4]","[6980000, 5380000]"
976,5720,8888667,12000,[3260000],[],"[5410000, 2160000]"
977,7980,9111539,29000,[3400000],[5],"[7920000, 3780000]"
978,2683,6979409,79000,[],[3],"[7530000, 3520000, 4320000]"
979,1605,5611367,36000,[],"[1, 1]",[]
980,1160,9992065,43000,[],[],[]
981,9066,3723570,20000,[],"[1, 4]","[2230000, 710000]"
982,2904,1541153,15000,[],[],[]
983,5539,1322743,28000,[],"[3, 3]",[7370000]
984,3058,4740527,0,[5190000],"[4, 4]","[4750000, 9410000, 3590000]"
985,4987,4691535,78000,[2140000],[],"[1900000, 7860000]"
986,9993,8161997,78000,[],"[3, 4, 4]",[430000]
987,6374,7538150,24000,[],[],[]
988,6439,85236,67000,[410000],"[5, 1, 5]","[2680000, 8820000]"
989,4151,2534610,25000,[4360000],[],[3560000]
990,9536,222024,23000,[5080000],[],[2900000]
991,5668,2607700,17000,[],"[5, 3, 3]",[]
992,8849,1634277,60000,[3630000],"[1, 2, 1]",[]
993,5674,8787080,32000,[],[],[3320000]
994,7888,854061,81000,[],"[4, 1]",[1700000]
995,5750,525137,69000,[],[2],[8320000]
996,4363,6637444,52000,[],[1],[]
997,8234,393362,77000,[7130000],"[1, 3, 2]",[]
998,6081,2874638,34000,[4160000],[],[9860000]
999,5584,1556203,57000,[],[4],"[4030000, 6950000]"

In [8]:
df['col12'] = df['A/c Bal']+df['Fixed Deposit']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['col12'] = scaler.fit_transform(df['col12'].reshape(-1,1))

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """
C:\Anaconda\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [9]:
x = [] 
for i in df['Paid Loans']:
    if(len(i)>0):
        k = 0
        for j in range(0,len(i)):
            k = k + i[j]
        x.append(k)
    else:
        x.append(0)
x

#df['Paid Loans']

[6420000,
 23100000,
 12260000,
 230000,
 14550000,
 20900000,
 14480000,
 0,
 2430000,
 4770000,
 4920000,
 0,
 4660000,
 0,
 14020000,
 16880000,
 0,
 13300000,
 10360000,
 17160000,
 11650000,
 14050000,
 0,
 8420000,
 6890000,
 11850000,
 18000000,
 10290000,
 1980000,
 0,
 13350000,
 10850000,
 0,
 15990000,
 0,
 0,
 340000,
 2340000,
 6900000,
 17750000,
 0,
 6490000,
 11050000,
 20850000,
 6850000,
 9950000,
 11450000,
 6620000,
 5690000,
 4490000,
 4960000,
 3620000,
 2010000,
 15280000,
 0,
 16560000,
 12430000,
 0,
 0,
 900000,
 7270000,
 2410000,
 4550000,
 7360000,
 0,
 0,
 12720000,
 3730000,
 0,
 0,
 0,
 9720000,
 0,
 8730000,
 5990000,
 16780000,
 8560000,
 7350000,
 16060000,
 0,
 9850000,
 24360000,
 1860000,
 9590000,
 0,
 21320000,
 4720000,
 6130000,
 21360000,
 2880000,
 0,
 0,
 11190000,
 0,
 10400000,
 0,
 9110000,
 16140000,
 20120000,
 10520000,
 18730000,
 0,
 21280000,
 7470000,
 0,
 0,
 6460000,
 0,
 0,
 0,
 7550000,
 0,
 8760000,
 17060000,
 5970000,
 0,
 8520000,
 8590000,
 2560000,
 7490000,
 7360000,
 16680000,
 8040000,
 20930000,
 12590000,
 0,
 5910000,
 10850000,
 0,
 0,
 0,
 0,
 0,
 9000000,
 0,
 27060000,
 7630000,
 22460000,
 0,
 7890000,
 2200000,
 4020000,
 8840000,
 6240000,
 9990000,
 2310000,
 7580000,
 20690000,
 3110000,
 2580000,
 6160000,
 0,
 670000,
 12780000,
 8540000,
 0,
 12610000,
 11760000,
 7970000,
 4840000,
 0,
 3840000,
 9210000,
 0,
 5230000,
 0,
 2710000,
 10350000,
 7440000,
 15890000,
 10510000,
 0,
 0,
 11680000,
 0,
 0,
 0,
 0,
 8830000,
 2370000,
 5210000,
 0,
 0,
 28220000,
 940000,
 18290000,
 1120000,
 6010000,
 0,
 0,
 10590000,
 4890000,
 0,
 12670000,
 10080000,
 6020000,
 0,
 2620000,
 1250000,
 0,
 21280000,
 0,
 13960000,
 21320000,
 7980000,
 6310000,
 23280000,
 6770000,
 0,
 0,
 0,
 0,
 20400000,
 750000,
 220000,
 7710000,
 7240000,
 7910000,
 8110000,
 0,
 17810000,
 13200000,
 19260000,
 0,
 4220000,
 20200000,
 0,
 16310000,
 0,
 6840000,
 0,
 0,
 9530000,
 0,
 10390000,
 0,
 0,
 9940000,
 16220000,
 1980000,
 150000,
 1740000,
 4950000,
 16510000,
 0,
 12700000,
 15440000,
 3510000,
 860000,
 7890000,
 17400000,
 3650000,
 17770000,
 16610000,
 22950000,
 12080000,
 15340000,
 7880000,
 0,
 4560000,
 0,
 0,
 0,
 0,
 8180000,
 8670000,
 10000000,
 12820000,
 0,
 8630000,
 19430000,
 0,
 0,
 0,
 0,
 12150000,
 2390000,
 0,
 18510000,
 7640000,
 0,
 6740000,
 0,
 0,
 4990000,
 6100000,
 9030000,
 240000,
 7450000,
 3960000,
 0,
 22550000,
 6000000,
 17980000,
 16700000,
 3120000,
 0,
 9340000,
 7270000,
 0,
 17520000,
 17150000,
 11980000,
 0,
 1720000,
 8410000,
 10620000,
 0,
 15230000,
 14280000,
 11450000,
 11770000,
 5280000,
 14920000,
 2980000,
 0,
 11380000,
 250000,
 15490000,
 860000,
 11820000,
 6700000,
 0,
 1550000,
 18430000,
 16390000,
 13520000,
 8950000,
 15400000,
 6350000,
 0,
 0,
 26190000,
 7100000,
 5730000,
 9890000,
 0,
 13990000,
 15720000,
 5720000,
 6080000,
 14900000,
 8300000,
 0,
 1530000,
 7470000,
 9720000,
 7390000,
 0,
 3720000,
 11810000,
 13180000,
 0,
 6620000,
 8850000,
 15480000,
 9310000,
 7720000,
 6810000,
 8960000,
 16200000,
 9480000,
 0,
 840000,
 9750000,
 3820000,
 20810000,
 5910000,
 26320000,
 19280000,
 8310000,
 0,
 0,
 13870000,
 1190000,
 0,
 0,
 9150000,
 0,
 11250000,
 11800000,
 3950000,
 8990000,
 4010000,
 8190000,
 10200000,
 1330000,
 18100000,
 0,
 1550000,
 9130000,
 0,
 18370000,
 5580000,
 15570000,
 20790000,
 0,
 9150000,
 4570000,
 0,
 5480000,
 0,
 16890000,
 15350000,
 0,
 0,
 4100000,
 12800000,
 9540000,
 10490000,
 7580000,
 15430000,
 4190000,
 17670000,
 4100000,
 8150000,
 0,
 9750000,
 0,
 1670000,
 16620000,
 9750000,
 0,
 420000,
 18000000,
 1270000,
 2380000,
 2560000,
 840000,
 480000,
 1850000,
 0,
 8800000,
 1890000,
 15270000,
 22110000,
 0,
 20750000,
 3030000,
 18210000,
 16310000,
 0,
 18960000,
 9580000,
 13050000,
 18790000,
 650000,
 9780000,
 880000,
 18530000,
 3490000,
 2880000,
 21590000,
 6390000,
 10040000,
 20390000,
 120000,
 9630000,
 17100000,
 0,
 17920000,
 0,
 10480000,
 9040000,
 0,
 400000,
 9840000,
 0,
 2040000,
 970000,
 18780000,
 6560000,
 12690000,
 11670000,
 6320000,
 8730000,
 1880000,
 1080000,
 6060000,
 3810000,
 5600000,
 7710000,
 0,
 8620000,
 0,
 0,
 11440000,
 8310000,
 12790000,
 17370000,
 620000,
 15470000,
 7650000,
 10660000,
 2090000,
 7620000,
 5320000,
 7830000,
 16930000,
 17870000,
 1480000,
 120000,
 0,
 25110000,
 10870000,
 3390000,
 0,
 11570000,
 0,
 0,
 9640000,
 4090000,
 0,
 1090000,
 15780000,
 0,
 0,
 13270000,
 17150000,
 0,
 9580000,
 10000000,
 0,
 11330000,
 7650000,
 3120000,
 16440000,
 0,
 7420000,
 790000,
 8050000,
 8750000,
 0,
 7490000,
 11450000,
 2120000,
 12280000,
 0,
 0,
 11380000,
 0,
 13420000,
 0,
 1330000,
 4590000,
 10750000,
 12180000,
 3400000,
 2210000,
 6700000,
 19380000,
 13890000,
 9510000,
 17200000,
 14010000,
 2130000,
 7610000,
 940000,
 0,
 12910000,
 6250000,
 0,
 9770000,
 0,
 3910000,
 5230000,
 9800000,
 4550000,
 1960000,
 15710000,
 1910000,
 5670000,
 15530000,
 6440000,
 19080000,
 0,
 9940000,
 7000000,
 9450000,
 4440000,
 8510000,
 3950000,
 1980000,
 0,
 11200000,
 14970000,
 0,
 11710000,
 9810000,
 0,
 0,
 4260000,
 7610000,
 9000000,
 1720000,
 8150000,
 13260000,
 0,
 16740000,
 13300000,
 16260000,
 0,
 0,
 0,
 22420000,
 16130000,
 11120000,
 3620000,
 5470000,
 8340000,
 9810000,
 6000000,
 17210000,
 0,
 15940000,
 6730000,
 7660000,
 3300000,
 0,
 13090000,
 15630000,
 5740000,
 0,
 12620000,
 6000000,
 7270000,
 3460000,
 13990000,
 2720000,
 7620000,
 320000,
 17690000,
 6060000,
 8210000,
 0,
 7570000,
 24940000,
 6900000,
 17900000,
 15270000,
 6310000,
 11440000,
 0,
 8310000,
 0,
 7070000,
 16760000,
 8530000,
 0,
 0,
 5520000,
 13170000,
 0,
 0,
 0,
 11820000,
 9330000,
 9600000,
 12500000,
 4650000,
 0,
 9640000,
 15230000,
 0,
 6300000,
 1650000,
 9220000,
 7880000,
 13000000,
 0,
 15980000,
 9140000,
 5750000,
 17400000,
 14950000,
 0,
 3820000,
 12580000,
 0,
 0,
 0,
 17540000,
 12810000,
 12950000,
 8990000,
 1690000,
 17570000,
 0,
 7070000,
 16530000,
 19070000,
 8730000,
 0,
 900000,
 14560000,
 4130000,
 13390000,
 7610000,
 7440000,
 11870000,
 0,
 19430000,
 6560000,
 15980000,
 5950000,
 13820000,
 6460000,
 0,
 0,
 3560000,
 15170000,
 13470000,
 0,
 8100000,
 11130000,
 0,
 0,
 0,
 1710000,
 70000,
 0,
 610000,
 7890000,
 1370000,
 0,
 10000000,
 14180000,
 2960000,
 6400000,
 0,
 12920000,
 0,
 5940000,
 8280000,
 0,
 0,
 7130000,
 6260000,
 14710000,
 1330000,
 6530000,
 0,
 0,
 8700000,
 6010000,
 7580000,
 3480000,
 12050000,
 2710000,
 10230000,
 9590000,
 0,
 16520000,
 11210000,
 0,
 14090000,
 9260000,
 3870000,
 9240000,
 5960000,
 10290000,
 1960000,
 5090000,
 12810000,
 0,
 0,
 11050000,
 0,
 11750000,
 13910000,
 11890000,
 3610000,
 11200000,
 8260000,
 5510000,
 6270000,
 6130000,
 0,
 16600000,
 0,
 18530000,
 8770000,
 22560000,
 8640000,
 10160000,
 8990000,
 6180000,
 5760000,
 0,
 7560000,
 13920000,
 0,
 9550000,
 6020000,
 7240000,
 18170000,
 0,
 4560000,
 0,
 16440000,
 18370000,
 0,
 12100000,
 0,
 4040000,
 0,
 8180000,
 8090000,
 0,
 6020000,
 0,
 8230000,
 4970000,
 14170000,
 0,
 10900000,
 7570000,
 0,
 18810000,
 0,
 21810000,
 1630000,
 0,
 0,
 21570000,
 7770000,
 8710000,
 7470000,
 0,
 0,
 18360000,
 15790000,
 6240000,
 21510000,
 0,
 4330000,
 12890000,
 0,
 2880000,
 3200000,
 14500000,
 0,
 16320000,
 2020000,
 0,
 13540000,
 0,
 0,
 0,
 13670000,
 17670000,
 0,
 1430000,
 9630000,
 25080000,
 0,
 0,
 9830000,
 0,
 16600000,
 0,
 3500000,
 0,
 5880000,
 8110000,
 3530000,
 0,
 25520000,
 4240000,
 0,
 810000,
 7450000,
 13880000,
 13260000,
 10440000,
 14910000,
 0,
 17540000,
 2870000,
 6580000,
 14580000,
 0,
 15780000,
 14030000,
 1930000,
 0,
 6890000,
 12720000,
 11700000,
 12580000,
 3620000,
 3060000,
 16360000,
 11550000,
 9320000,
 4830000,
 7320000,
 0,
 0,
 0,
 11460000,
 5790000,
 7420000,
 24970000,
 8480000,
 1830000,
 5070000,
 10000000,
 0,
 9300000,
 20630000,
 4450000,
 7410000,
 1640000,
 7720000,
 8950000,
 6580000,
 7290000,
 0,
 11080000,
 0,
 19620000,
 0,
 9940000,
 13450000,
 970000,
 0,
 0,
 0,
 18530000,
 11320000,
 0,
 550000,
 0,
 0,
 5700000,
 0,
 11100000,
 19410000,
 17890000,
 0,
 0,
 5100000,
 0,
 2520000,
 13600000,
 6290000,
 840000,
 9240000,
 16960000,
 8270000,
 15400000,
 19860000,
 13290000,
 0,
 0,
 16490000,
 20340000,
 7210000,
 14010000,
 0,
 17610000,
 4050000,
 6200000,
 21170000,
 0,
 12940000,
 7250000,
 4020000,
 0,
 3680000,
 13750000,
 7730000,
 4310000,
 16920000,
 12360000,
 7570000,
 11700000,
 15370000,
 0,
 0,
 2940000,
 0,
 7370000,
 17750000,
 9760000,
 430000,
 0,
 11500000,
 3560000,
 2900000,
 0,
 0,
 3320000,
 1700000,
 8320000,
 0,
 0,
 9860000,
 10980000]

In [10]:
df['Paid Loans Sum'] = x

In [11]:



scaler = MinMaxScaler()
df['Paid Loans Sum'] = scaler.fit_transform(df['Paid Loans Sum'].reshape(-1,1))

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """
C:\Anaconda\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [12]:

def func(arr):
    
    bias = 1
    
    arr2 = []
    for j in range(len(arr)):
        arr2.append(arr[j])
        
    arr2 = sorted(arr2)
    
    lis = []
    for i in range(len(arr2)):
        elem = bias * arr2[i]
        bias *= 2
        lis.append(elem)
    ans = sum(lis)
    return ans

df['Reference_factor'] = df['Level of Referees'].apply(func)

In [13]:
# Reference factor given more importance than A/c Balance + FDs
df['Reference_factor'] = df['Reference_factor'] / 12

In [14]:
# Reference factor given most importance [Max score = 5]
df['Paid Loans Sum'] = df['Paid Loans Sum'] * 5

In [15]:
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans,col12,Paid Loans Sum,Reference_factor
0,6652,9111907,7000,[6730000],"[1, 1, 2]",[6420000],0.906386,1.137491,0.916667
1,7895,217152,61000,[730000],[],"[8810000, 7670000, 6620000]",0.022413,4.092842,0.000000
2,1258,9349050,41000,[],[3],"[4660000, 3950000, 3650000]",0.933497,2.172218,0.250000
3,7156,5871704,39000,[820000],[],[230000],0.585603,0.040751,0.000000
4,6882,4674149,2000,[8080000],"[1, 2, 1]","[1130000, 3510000, 9910000]",0.462162,2.577959,0.916667
5,6418,4297828,67000,[1310000],"[5, 5]","[6430000, 5140000, 9330000]",0.431033,3.703047,1.250000
6,8753,2935226,38000,[],[2],"[4120000, 6670000, 3690000]",0.291889,2.565556,0.166667
7,9715,206996,45000,[],"[4, 3, 4]",[],0.019798,0.000000,2.250000
8,5052,410072,7000,[],"[4, 2, 5]",[2430000],0.036303,0.430546,2.500000
9,7659,4340814,40000,[8910000],"[3, 4]",[4770000],0.432632,0.845145,0.916667
10,9129,445111,1000,[420000],[],[4920000],0.039207,0.871722,0.000000
11,3601,2057426,58000,[],"[5, 1]",[],0.206119,0.000000,0.916667
12,6095,195839,10000,[],"[3, 5]",[4660000],0.015183,0.825656,1.083333
13,2573,6301086,64000,[],[5],[],0.631036,0.000000,0.416667
14,9730,3785285,19000,[],"[3, 2]","[5650000, 8370000]",0.374985,2.484054,0.666667
15,2857,7051020,57000,[8600000],"[5, 5, 3]","[9710000, 4670000, 2500000]",0.705320,2.990787,2.750000
16,3691,5959533,71000,[],[],[],0.597584,0.000000,0.000000
17,2095,7132511,55000,[3880000],"[4, 2, 2]","[9920000, 3380000]",0.713269,2.356485,1.833333
18,4145,4862477,94000,[3240000],"[5, 5, 2]","[1740000, 4320000, 4300000]",0.490191,1.835578,2.666667
19,6873,3839957,54000,[],"[5, 3, 3]","[9630000, 7530000]",0.383952,3.040397,2.416667
20,5782,1757375,53000,[],[],"[7430000, 4220000]",0.175618,2.064139,0.000000
21,9107,983187,21000,[],"[3, 1]","[4460000, 9590000]",0.095008,2.489369,0.583333
22,6489,6773343,62000,[6940000],"[2, 1, 4]",[],0.678056,0.000000,1.750000
23,1918,3504702,5000,[250000],[1],"[2660000, 5760000]",0.345531,1.491850,0.083333
24,4533,2091460,11000,[6290000],[4],"[1030000, 2250000, 3610000]",0.204823,1.220765,0.333333
25,1795,2466481,50000,[],[2],"[7740000, 1060000, 3050000]",0.246220,2.099575,0.166667
26,1721,4140294,16000,[7750000],"[2, 5]","[5780000, 2960000, 9260000]",0.410182,3.189227,1.000000
27,3671,3676891,13000,[4610000],[4],"[5910000, 4380000]",0.363547,1.823175,0.333333
28,3006,5588997,44000,[2680000],[],[1980000],0.557835,0.350815,0.000000
29,8244,7786210,78000,[],"[5, 1]",[],0.780931,0.000000,0.916667
...,...,...,...,...,...,...,...,...,...
970,4119,4300706,28000,[7970000],"[2, 4]",[3680000],0.427421,0.652020,0.833333
971,1514,4427606,92000,[2430000],"[5, 4]","[8650000, 5100000]",0.446509,2.436215,1.166667
972,2357,2866776,65000,[1140000],"[2, 1]","[3040000, 4690000]",0.287745,1.369596,0.416667
973,5472,6973237,99000,[4920000],[5],[4310000],0.701743,0.763643,0.416667
974,2151,7888282,55000,[5830000],"[4, 3]","[2140000, 7390000, 7390000]",0.788837,2.997874,0.916667
975,5928,2470343,8000,[1920000],"[1, 3, 4]","[6980000, 5380000]",0.242407,2.189936,1.916667
976,5720,8888667,12000,[3260000],[],"[5410000, 2160000]",0.884564,1.341247,0.000000
977,7980,9111539,29000,[3400000],[5],"[7920000, 3780000]",0.908549,2.072998,0.416667
978,2683,6979409,79000,[],[3],"[7530000, 3520000, 4320000]",0.700360,2.723246,0.250000
979,1605,5611367,36000,[],"[1, 1]",[],0.559272,0.000000,0.250000
980,1160,9992065,43000,[],[],[],0.997991,0.000000,0.000000
981,9066,3723570,20000,[],"[1, 4]","[2230000, 710000]",0.368915,0.520907,0.750000
982,2904,1541153,15000,[],[],[],0.150198,0.000000,0.000000
983,5539,1322743,28000,[],"[3, 3]",[7370000],0.129660,1.305811,0.750000
984,3058,4740527,0,[5190000],"[4, 4]","[4750000, 9410000, 3590000]",0.468599,3.144933,1.000000
985,4987,4691535,78000,[2140000],[],"[1900000, 7860000]",0.471499,1.729270,0.000000
986,9993,8161997,78000,[],"[3, 4, 4]",[430000],0.818505,0.076187,2.250000
987,6374,7538150,24000,[],[],[],0.750728,0.000000,0.000000
988,6439,85236,67000,[410000],"[5, 1, 5]","[2680000, 8820000]",0.009823,2.037562,2.583333
989,4151,2534610,25000,[4360000],[],[3560000],0.250532,0.630758,0.000000
990,9536,222024,23000,[5080000],[],[2900000],0.019101,0.513820,0.000000
991,5668,2607700,17000,[],"[5, 3, 3]",[],0.257041,0.000000,2.416667
992,8849,1634277,60000,[3630000],"[1, 2, 1]",[],0.164009,0.000000,0.916667
993,5674,8787080,32000,[],[],[3320000],0.876407,0.588235,0.000000
994,7888,854061,81000,[],"[4, 1]",[1700000],0.088096,0.301205,0.750000
995,5750,525137,69000,[],[2],[8320000],0.054008,1.474132,0.166667
996,4363,6637444,52000,[],[1],[],0.663468,0.000000,0.083333
997,8234,393362,77000,[7130000],"[1, 3, 2]",[],0.041632,0.000000,1.416667
998,6081,2874638,34000,[4160000],[],[9860000],0.285431,1.746988,0.000000
999,5584,1556203,57000,[],[4],"[4030000, 6950000]",0.155903,1.945429,0.333333

In [16]:
lis = []
for x in df['Active Loans'].iteritems():
    if len(x[1]) > 0:
        lis.append((x[1][0]) / 1000000)
    else:
        lis.append(0)
lis

[6.73,
 0.73,
 0,
 0.82,
 8.08,
 1.31,
 0,
 0,
 0,
 8.91,
 0.42,
 0,
 0,
 0,
 0,
 8.6,
 0,
 3.88,
 3.24,
 0,
 0,
 0,
 6.94,
 0.25,
 6.29,
 0,
 7.75,
 4.61,
 2.68,
 0,
 4.99,
 8.49,
 1.62,
 4.39,
 0,
 4.26,
 0,
 0,
 10.0,
 0,
 6.12,
 0,
 0,
 7.58,
 9.73,
 4.71,
 0,
 0,
 0,
 9.55,
 0,
 0,
 9.85,
 1.55,
 6.01,
 3.0,
 0,
 9.55,
 9.25,
 0,
 9.27,
 0,
 0,
 0,
 1.12,
 0,
 2.82,
 0,
 7.88,
 7.2,
 1.69,
 0,
 0,
 7.47,
 4.5,
 0,
 2.46,
 5.21,
 0,
 0,
 0.56,
 7.26,
 0,
 0,
 0,
 2.63,
 4.22,
 3.64,
 5.6,
 7.57,
 0,
 0.81,
 0,
 0.46,
 0,
 0,
 3.52,
 0,
 0,
 9.04,
 0,
 0,
 4.48,
 1.59,
 0,
 7.65,
 0,
 9.38,
 0,
 0.18,
 0,
 9.57,
 0,
 0,
 0,
 9.72,
 9.67,
 0,
 0,
 1.29,
 7.58,
 0,
 2.25,
 4.95,
 2.01,
 9.66,
 9.46,
 0,
 0,
 7.26,
 0.32,
 0,
 8.74,
 0,
 0,
 8.93,
 0,
 0,
 0,
 0,
 0,
 4.26,
 0.52,
 0,
 7.18,
 0,
 0,
 6.34,
 3.6,
 0,
 4.1,
 2.74,
 0,
 4.7,
 5.42,
 0,
 0,
 0,
 0,
 2.71,
 0,
 0,
 0,
 0,
 7.12,
 1.18,
 5.26,
 0,
 6.61,
 0,
 6.06,
 5.06,
 6.5,
 0,
 7.89,
 3.28,
 0,
 0,
 0,
 8.32,
 0,
 0,
 0,
 0.82,
 2.8,
 0,
 0,
 0,
 0,
 0,
 3.63,
 6.23,
 6.95,
 6.71,
 0,
 0,
 7.26,
 6.61,
 0,
 8.37,
 0,
 8.5,
 0.18,
 0,
 9.86,
 0,
 0,
 6.51,
 0,
 6.43,
 0,
 0,
 0,
 3.57,
 0.28,
 0,
 0,
 0,
 6.83,
 0,
 5.26,
 0,
 7.86,
 0,
 0,
 0,
 8.08,
 4.83,
 5.27,
 0.54,
 5.25,
 0,
 0.41,
 3.85,
 6.28,
 8.27,
 6.13,
 0,
 0,
 1.03,
 0,
 0,
 4.88,
 0,
 0,
 0,
 0,
 5.76,
 0,
 0.9,
 7.86,
 4.66,
 0,
 0,
 7.06,
 6.28,
 0,
 9.98,
 0,
 8.08,
 4.6,
 7.01,
 4.61,
 0,
 0,
 2.76,
 3.63,
 0,
 0,
 0,
 0,
 0,
 0,
 0.08,
 5.02,
 5.26,
 7.38,
 2.06,
 0,
 0,
 9.77,
 0.88,
 0,
 0,
 0,
 7.85,
 0,
 1.65,
 8.58,
 3.27,
 4.68,
 0,
 0,
 1.51,
 0,
 0,
 0,
 8.39,
 0,
 8.14,
 3.95,
 2.03,
 0,
 0,
 9.32,
 1.42,
 0,
 5.91,
 0,
 0,
 3.62,
 7.74,
 8.25,
 0.72,
 7.92,
 7.3,
 9.54,
 9.48,
 6.98,
 0,
 1.63,
 0,
 1.16,
 0,
 0,
 0,
 8.16,
 4.77,
 9.36,
 9.34,
 4.49,
 0,
 3.2,
 1.94,
 0,
 0,
 0,
 0,
 2.91,
 0,
 0,
 0,
 6.04,
 0,
 3.97,
 0,
 0,
 0,
 8.16,
 0,
 4.2,
 0,
 0,
 0,
 0,
 3.82,
 0,
 9.65,
 0,
 0,
 5.6,
 6.49,
 7.56,
 6.42,
 0,
 6.44,
 7.67,
 6.42,
 0,
 5.58,
 0,
 0,
 3.08,
 5.6,
 0,
 4.11,
 5.52,
 9.29,
 0,
 0,
 0,
 0,
 0,
 0,
 6.69,
 0.99,
 6.27,
 0,
 0,
 0,
 8.33,
 0,
 5.04,
 1.64,
 0,
 0,
 2.56,
 0,
 0,
 6.98,
 9.5,
 8.67,
 0,
 0,
 0,
 1.0,
 0,
 0,
 0,
 0.77,
 4.92,
 0.27,
 0,
 0,
 4.09,
 0,
 0,
 0,
 6.37,
 0,
 0,
 0,
 0,
 0,
 3.45,
 0,
 0,
 0,
 8.28,
 0,
 9.24,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 6.62,
 0,
 0,
 5.69,
 0,
 0,
 5.05,
 0,
 9.47,
 2.48,
 9.78,
 2.95,
 4.52,
 6.4,
 0,
 5.74,
 0,
 0,
 0,
 9.23,
 0,
 5.35,
 9.35,
 0,
 9.18,
 9.94,
 1.29,
 0,
 0,
 0,
 4.46,
 0,
 0,
 5.98,
 0,
 1.64,
 0,
 0.64,
 1.63,
 0,
 7.5,
 0,
 9.61,
 3.04,
 0,
 0.93,
 0,
 0,
 1.83,
 3.11,
 6.7,
 4.82,
 0,
 3.53,
 0,
 0,
 2.83,
 0,
 8.63,
 1.78,
 0,
 0,
 0,
 4.72,
 0,
 0,
 0.42,
 3.34,
 0,
 3.44,
 0,
 0,
 6.51,
 0,
 0,
 0,
 7.29,
 0,
 0,
 0,
 0,
 7.77,
 3.75,
 0,
 0,
 6.24,
 1.22,
 8.32,
 9.2,
 6.13,
 3.9,
 0,
 0,
 0,
 6.72,
 3.95,
 0,
 0,
 0,
 0,
 0,
 9.54,
 0,
 0,
 0,
 1.46,
 0,
 7.98,
 0,
 5.22,
 5.26,
 0,
 0,
 4.47,
 0,
 0,
 6.34,
 0,
 5.01,
 0,
 0,
 0,
 0,
 6.41,
 6.0,
 0.34,
 0,
 2.68,
 8.38,
 0,
 6.71,
 3.15,
 0,
 0,
 7.88,
 0,
 3.61,
 0,
 1.12,
 0,
 2.99,
 0,
 3.54,
 0,
 0,
 0,
 0,
 1.21,
 0,
 0.09,
 8.24,
 6.67,
 0,
 0,
 0,
 0,
 7.84,
 0,
 0,
 2.32,
 0,
 5.38,
 0,
 0,
 0,
 9.68,
 3.17,
 2.82,
 6.45,
 5.31,
 8.06,
 0,
 0,
 5.78,
 0,
 0.18,
 0,
 0,
 0,
 6.11,
 4.82,
 0,
 9.47,
 0,
 5.17,
 0,
 9.68,
 0,
 0,
 6.27,
 0,
 7.2,
 7.08,
 0,
 0,
 0,
 3.95,
 0.09,
 0,
 0,
 0,
 2.65,
 0,
 5.3,
 0,
 0,
 0.83,
 1.4,
 0,
 0.37,
 0,
 0,
 2.63,
 6.03,
 0,
 0,
 0,
 0.43,
 0,
 2.26,
 3.83,
 0.14,
 0,
 0,
 9.66,
 0,
 0.62,
 0,
 0,
 3.49,
 2.1,
 8.86,
 1.5,
 0,
 5.39,
 0,
 0,
 6.28,
 0,
 2.89,
 9.13,
 5.34,
 4.47,
 5.44,
 1.38,
 0,
 2.38,
 0.18,
 0,
 6.27,
 0,
 1.77,
 0,
 0,
 1.05,
 4.54,
 0,
 0,
 0,
 4.02,
 0,
 0,
 0,
 7.37,
 0,
 0,
 0,
 0,
 0,
 8.76,
 9.79,
 2.1,
 0,
 0,
 8.16,
 5.0,
 4.06,
 2.2,
 2.93,
 0,
 0,
 0,
 0,
 0,
 9.99,
 4.34,
 5.81,
 2.2,
 0,
 9.01,
 0.37,
 0,
 0,
 7.61,
 0,
 0,
 0,
 1.98,
 3.96,
 5.85,
 7.71,
 0,
 0,
 8.07,
 0,
 0,
 0.72,
 0,
 0,
 5.31,
 9.91,
 0,
 3.6,
 4.38,
 4.11,
 0,
 0,
 9.8,
 0,
 0,
 1.41,
 8.54,
 0,
 4.23,
 6.05,
 0,
 0.45,
 0,
 0,
 0.6,
 9.56,
 1.02,
 0,
 0,
 4.26,
 0.63,
 1.87,
 0,
 0,
 7.94,
 8.99,
 0,
 5.63,
 0.35,
 2.52,
 8.69,
 4.29,
 0,
 9.78,
 0,
 0,
 7.45,
 9.0,
 1.82,
 0,
 9.69,
 0,
 0.14,
 6.6,
 0,
 0,
 2.39,
 1.57,
 5.02,
 0,
 0,
 0.91,
 0,
 0,
 0,
 0,
 3.85,
 4.87,
 9.76,
 2.37,
 0,
 7.94,
 0,
 0,
 6.65,
 9.05,
 0,
 0,
 0.71,
 0,
 0,
 9.73,
 0.19,
 5.52,
 9.49,
 1.52,
 2.34,
 0,
 0,
 0.27,
 0,
 7.99,
 0,
 0,
 0,
 0,
 6.33,
 0,
 0.95,
 0,
 4.72,
 0.5,
 2.18,
 0,
 9.98,
 0,
 1.42,
 0,
 0,
 2.7,
 0,
 9.45,
 0.76,
 7.83,
 0,
 7.29,
 0,
 1.59,
 0,
 0.94,
 0,
 0,
 0,
 1.31,
 1.58,
 0,
 5.43,
 1.16,
 4.15,
 0,
 9.69,
 0,
 0,
 0,
 0,
 0,
 8.39,
 7.44,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.24,
 1.79,
 5.23,
 5.39,
 0,
 4.84,
 0,
 0.59,
 1.53,
 0,
 0,
 0,
 0,
 0,
 6.36,
 0,
 7.89,
 0,
 1.83,
 0.83,
 0,
 1.01,
 0,
 1.97,
 7.91,
 0,
 0,
 0,
 5.42,
 8.99,
 5.03,
 0,
 8.19,
 7.69,
 0,
 0,
 1.29,
 0,
 5.02,
 0,
 0,
 0,
 8.85,
 0,
 0,
 7.47,
 0.43,
 0,
 4.68,
 0,
 0,
 0,
 2.92,
 4.5,
 0,
 2.08,
 0,
 1.46,
 8.48,
 0,
 0,
 0,
 0,
 0,
 0,
 8.44,
 0,
 0,
 0,
 8.41,
 0,
 0,
 0,
 8.02,
 8.26,
 1.07,
 0,
 7.29,
 3.05,
 0,
 0,
 7.81,
 7.97,
 2.43,
 1.14,
 4.92,
 5.83,
 1.92,
 3.26,
 3.4,
 0,
 0,
 0,
 0,
 0,
 0,
 5.19,
 2.14,
 0,
 0,
 0.41,
 4.36,
 5.08,
 0,
 3.63,
 0,
 0,
 0,
 0,
 7.13,
 4.16,
 0]

In [17]:
lis2 = []
for x in lis:
    new = x * -1
    lis2.append(new)

In [18]:
lis2

[-6.73,
 -0.73,
 0,
 -0.82,
 -8.08,
 -1.31,
 0,
 0,
 0,
 -8.91,
 -0.42,
 0,
 0,
 0,
 0,
 -8.6,
 0,
 -3.88,
 -3.24,
 0,
 0,
 0,
 -6.94,
 -0.25,
 -6.29,
 0,
 -7.75,
 -4.61,
 -2.68,
 0,
 -4.99,
 -8.49,
 -1.62,
 -4.39,
 0,
 -4.26,
 0,
 0,
 -10.0,
 0,
 -6.12,
 0,
 0,
 -7.58,
 -9.73,
 -4.71,
 0,
 0,
 0,
 -9.55,
 0,
 0,
 -9.85,
 -1.55,
 -6.01,
 -3.0,
 0,
 -9.55,
 -9.25,
 0,
 -9.27,
 0,
 0,
 0,
 -1.12,
 0,
 -2.82,
 0,
 -7.88,
 -7.2,
 -1.69,
 0,
 0,
 -7.47,
 -4.5,
 0,
 -2.46,
 -5.21,
 0,
 0,
 -0.56,
 -7.26,
 0,
 0,
 0,
 -2.63,
 -4.22,
 -3.64,
 -5.6,
 -7.57,
 0,
 -0.81,
 0,
 -0.46,
 0,
 0,
 -3.52,
 0,
 0,
 -9.04,
 0,
 0,
 -4.48,
 -1.59,
 0,
 -7.65,
 0,
 -9.38,
 0,
 -0.18,
 0,
 -9.57,
 0,
 0,
 0,
 -9.72,
 -9.67,
 0,
 0,
 -1.29,
 -7.58,
 0,
 -2.25,
 -4.95,
 -2.01,
 -9.66,
 -9.46,
 0,
 0,
 -7.26,
 -0.32,
 0,
 -8.74,
 0,
 0,
 -8.93,
 0,
 0,
 0,
 0,
 0,
 -4.26,
 -0.52,
 0,
 -7.18,
 0,
 0,
 -6.34,
 -3.6,
 0,
 -4.1,
 -2.74,
 0,
 -4.7,
 -5.42,
 0,
 0,
 0,
 0,
 -2.71,
 0,
 0,
 0,
 0,
 -7.12,
 -1.18,
 -5.26,
 0,
 -6.61,
 0,
 -6.06,
 -5.06,
 -6.5,
 0,
 -7.89,
 -3.28,
 0,
 0,
 0,
 -8.32,
 0,
 0,
 0,
 -0.82,
 -2.8,
 0,
 0,
 0,
 0,
 0,
 -3.63,
 -6.23,
 -6.95,
 -6.71,
 0,
 0,
 -7.26,
 -6.61,
 0,
 -8.37,
 0,
 -8.5,
 -0.18,
 0,
 -9.86,
 0,
 0,
 -6.51,
 0,
 -6.43,
 0,
 0,
 0,
 -3.57,
 -0.28,
 0,
 0,
 0,
 -6.83,
 0,
 -5.26,
 0,
 -7.86,
 0,
 0,
 0,
 -8.08,
 -4.83,
 -5.27,
 -0.54,
 -5.25,
 0,
 -0.41,
 -3.85,
 -6.28,
 -8.27,
 -6.13,
 0,
 0,
 -1.03,
 0,
 0,
 -4.88,
 0,
 0,
 0,
 0,
 -5.76,
 0,
 -0.9,
 -7.86,
 -4.66,
 0,
 0,
 -7.06,
 -6.28,
 0,
 -9.98,
 0,
 -8.08,
 -4.6,
 -7.01,
 -4.61,
 0,
 0,
 -2.76,
 -3.63,
 0,
 0,
 0,
 0,
 0,
 0,
 -0.08,
 -5.02,
 -5.26,
 -7.38,
 -2.06,
 0,
 0,
 -9.77,
 -0.88,
 0,
 0,
 0,
 -7.85,
 0,
 -1.65,
 -8.58,
 -3.27,
 -4.68,
 0,
 0,
 -1.51,
 0,
 0,
 0,
 -8.39,
 0,
 -8.14,
 -3.95,
 -2.03,
 0,
 0,
 -9.32,
 -1.42,
 0,
 -5.91,
 0,
 0,
 -3.62,
 -7.74,
 -8.25,
 -0.72,
 -7.92,
 -7.3,
 -9.54,
 -9.48,
 -6.98,
 0,
 -1.63,
 0,
 -1.16,
 0,
 0,
 0,
 -8.16,
 -4.77,
 -9.36,
 -9.34,
 -4.49,
 0,
 -3.2,
 -1.94,
 0,
 0,
 0,
 0,
 -2.91,
 0,
 0,
 0,
 -6.04,
 0,
 -3.97,
 0,
 0,
 0,
 -8.16,
 0,
 -4.2,
 0,
 0,
 0,
 0,
 -3.82,
 0,
 -9.65,
 0,
 0,
 -5.6,
 -6.49,
 -7.56,
 -6.42,
 0,
 -6.44,
 -7.67,
 -6.42,
 0,
 -5.58,
 0,
 0,
 -3.08,
 -5.6,
 0,
 -4.11,
 -5.52,
 -9.29,
 0,
 0,
 0,
 0,
 0,
 0,
 -6.69,
 -0.99,
 -6.27,
 0,
 0,
 0,
 -8.33,
 0,
 -5.04,
 -1.64,
 0,
 0,
 -2.56,
 0,
 0,
 -6.98,
 -9.5,
 -8.67,
 0,
 0,
 0,
 -1.0,
 0,
 0,
 0,
 -0.77,
 -4.92,
 -0.27,
 0,
 0,
 -4.09,
 0,
 0,
 0,
 -6.37,
 0,
 0,
 0,
 0,
 0,
 -3.45,
 0,
 0,
 0,
 -8.28,
 0,
 -9.24,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -6.62,
 0,
 0,
 -5.69,
 0,
 0,
 -5.05,
 0,
 -9.47,
 -2.48,
 -9.78,
 -2.95,
 -4.52,
 -6.4,
 0,
 -5.74,
 0,
 0,
 0,
 -9.23,
 0,
 -5.35,
 -9.35,
 0,
 -9.18,
 -9.94,
 -1.29,
 0,
 0,
 0,
 -4.46,
 0,
 0,
 -5.98,
 0,
 -1.64,
 0,
 -0.64,
 -1.63,
 0,
 -7.5,
 0,
 -9.61,
 -3.04,
 0,
 -0.93,
 0,
 0,
 -1.83,
 -3.11,
 -6.7,
 -4.82,
 0,
 -3.53,
 0,
 0,
 -2.83,
 0,
 -8.63,
 -1.78,
 0,
 0,
 0,
 -4.72,
 0,
 0,
 -0.42,
 -3.34,
 0,
 -3.44,
 0,
 0,
 -6.51,
 0,
 0,
 0,
 -7.29,
 0,
 0,
 0,
 0,
 -7.77,
 -3.75,
 0,
 0,
 -6.24,
 -1.22,
 -8.32,
 -9.2,
 -6.13,
 -3.9,
 0,
 0,
 0,
 -6.72,
 -3.95,
 0,
 0,
 0,
 0,
 0,
 -9.54,
 0,
 0,
 0,
 -1.46,
 0,
 -7.98,
 0,
 -5.22,
 -5.26,
 0,
 0,
 -4.47,
 0,
 0,
 -6.34,
 0,
 -5.01,
 0,
 0,
 0,
 0,
 -6.41,
 -6.0,
 -0.34,
 0,
 -2.68,
 -8.38,
 0,
 -6.71,
 -3.15,
 0,
 0,
 -7.88,
 0,
 -3.61,
 0,
 -1.12,
 0,
 -2.99,
 0,
 -3.54,
 0,
 0,
 0,
 0,
 -1.21,
 0,
 -0.09,
 -8.24,
 -6.67,
 0,
 0,
 0,
 0,
 -7.84,
 0,
 0,
 -2.32,
 0,
 -5.38,
 0,
 0,
 0,
 -9.68,
 -3.17,
 -2.82,
 -6.45,
 -5.31,
 -8.06,
 0,
 0,
 -5.78,
 0,
 -0.18,
 0,
 0,
 0,
 -6.11,
 -4.82,
 0,
 -9.47,
 0,
 -5.17,
 0,
 -9.68,
 0,
 0,
 -6.27,
 0,
 -7.2,
 -7.08,
 0,
 0,
 0,
 -3.95,
 -0.09,
 0,
 0,
 0,
 -2.65,
 0,
 -5.3,
 0,
 0,
 -0.83,
 -1.4,
 0,
 -0.37,
 0,
 0,
 -2.63,
 -6.03,
 0,
 0,
 0,
 -0.43,
 0,
 -2.26,
 -3.83,
 -0.14,
 0,
 0,
 -9.66,
 0,
 -0.62,
 0,
 0,
 -3.49,
 -2.1,
 -8.86,
 -1.5,
 0,
 -5.39,
 0,
 0,
 -6.28,
 0,
 -2.89,
 -9.13,
 -5.34,
 -4.47,
 -5.44,
 -1.38,
 0,
 -2.38,
 -0.18,
 0,
 -6.27,
 0,
 -1.77,
 0,
 0,
 -1.05,
 -4.54,
 0,
 0,
 0,
 -4.02,
 0,
 0,
 0,
 -7.37,
 0,
 0,
 0,
 0,
 0,
 -8.76,
 -9.79,
 -2.1,
 0,
 0,
 -8.16,
 -5.0,
 -4.06,
 -2.2,
 -2.93,
 0,
 0,
 0,
 0,
 0,
 -9.99,
 -4.34,
 -5.81,
 -2.2,
 0,
 -9.01,
 -0.37,
 0,
 0,
 -7.61,
 0,
 0,
 0,
 -1.98,
 -3.96,
 -5.85,
 -7.71,
 0,
 0,
 -8.07,
 0,
 0,
 -0.72,
 0,
 0,
 -5.31,
 -9.91,
 0,
 -3.6,
 -4.38,
 -4.11,
 0,
 0,
 -9.8,
 0,
 0,
 -1.41,
 -8.54,
 0,
 -4.23,
 -6.05,
 0,
 -0.45,
 0,
 0,
 -0.6,
 -9.56,
 -1.02,
 0,
 0,
 -4.26,
 -0.63,
 -1.87,
 0,
 0,
 -7.94,
 -8.99,
 0,
 -5.63,
 -0.35,
 -2.52,
 -8.69,
 -4.29,
 0,
 -9.78,
 0,
 0,
 -7.45,
 -9.0,
 -1.82,
 0,
 -9.69,
 0,
 -0.14,
 -6.6,
 0,
 0,
 -2.39,
 -1.57,
 -5.02,
 0,
 0,
 -0.91,
 0,
 0,
 0,
 0,
 -3.85,
 -4.87,
 -9.76,
 -2.37,
 0,
 -7.94,
 0,
 0,
 -6.65,
 -9.05,
 0,
 0,
 -0.71,
 0,
 0,
 -9.73,
 -0.19,
 -5.52,
 -9.49,
 -1.52,
 -2.34,
 0,
 0,
 -0.27,
 0,
 -7.99,
 0,
 0,
 0,
 0,
 -6.33,
 0,
 -0.95,
 0,
 -4.72,
 -0.5,
 -2.18,
 0,
 -9.98,
 0,
 -1.42,
 0,
 0,
 -2.7,
 0,
 -9.45,
 -0.76,
 -7.83,
 0,
 -7.29,
 0,
 -1.59,
 0,
 -0.94,
 0,
 0,
 0,
 -1.31,
 -1.58,
 0,
 -5.43,
 -1.16,
 -4.15,
 0,
 -9.69,
 0,
 0,
 0,
 0,
 0,
 -8.39,
 -7.44,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1.24,
 -1.79,
 -5.23,
 -5.39,
 0,
 -4.84,
 0,
 -0.59,
 -1.53,
 0,
 0,
 0,
 0,
 0,
 -6.36,
 0,
 -7.89,
 0,
 -1.83,
 -0.83,
 0,
 -1.01,
 0,
 -1.97,
 -7.91,
 0,
 0,
 0,
 -5.42,
 -8.99,
 -5.03,
 0,
 -8.19,
 -7.69,
 0,
 0,
 -1.29,
 0,
 -5.02,
 0,
 0,
 0,
 -8.85,
 0,
 0,
 -7.47,
 -0.43,
 0,
 -4.68,
 0,
 0,
 0,
 -2.92,
 -4.5,
 0,
 -2.08,
 0,
 -1.46,
 -8.48,
 0,
 0,
 0,
 0,
 0,
 0,
 -8.44,
 0,
 0,
 0,
 -8.41,
 0,
 0,
 0,
 -8.02,
 -8.26,
 -1.07,
 0,
 -7.29,
 -3.05,
 0,
 0,
 -7.81,
 -7.97,
 -2.43,
 -1.14,
 -4.92,
 -5.83,
 -1.92,
 -3.26,
 -3.4,
 0,
 0,
 0,
 0,
 0,
 0,
 -5.19,
 -2.14,
 0,
 0,
 -0.41,
 -4.36,
 -5.08,
 0,
 -3.63,
 0,
 0,
 0,
 0,
 -7.13,
 -4.16,
 0]

In [19]:
df['penalty_active_loans'] = lis2

In [20]:
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans,col12,Paid Loans Sum,Reference_factor,penalty_active_loans
0,6652,9111907,7000,[6730000],"[1, 1, 2]",[6420000],0.906386,1.137491,0.916667,-6.73
1,7895,217152,61000,[730000],[],"[8810000, 7670000, 6620000]",0.022413,4.092842,0.000000,-0.73
2,1258,9349050,41000,[],[3],"[4660000, 3950000, 3650000]",0.933497,2.172218,0.250000,0.00
3,7156,5871704,39000,[820000],[],[230000],0.585603,0.040751,0.000000,-0.82
4,6882,4674149,2000,[8080000],"[1, 2, 1]","[1130000, 3510000, 9910000]",0.462162,2.577959,0.916667,-8.08
5,6418,4297828,67000,[1310000],"[5, 5]","[6430000, 5140000, 9330000]",0.431033,3.703047,1.250000,-1.31
6,8753,2935226,38000,[],[2],"[4120000, 6670000, 3690000]",0.291889,2.565556,0.166667,0.00
7,9715,206996,45000,[],"[4, 3, 4]",[],0.019798,0.000000,2.250000,0.00
8,5052,410072,7000,[],"[4, 2, 5]",[2430000],0.036303,0.430546,2.500000,0.00
9,7659,4340814,40000,[8910000],"[3, 4]",[4770000],0.432632,0.845145,0.916667,-8.91
10,9129,445111,1000,[420000],[],[4920000],0.039207,0.871722,0.000000,-0.42
11,3601,2057426,58000,[],"[5, 1]",[],0.206119,0.000000,0.916667,0.00
12,6095,195839,10000,[],"[3, 5]",[4660000],0.015183,0.825656,1.083333,0.00
13,2573,6301086,64000,[],[5],[],0.631036,0.000000,0.416667,0.00
14,9730,3785285,19000,[],"[3, 2]","[5650000, 8370000]",0.374985,2.484054,0.666667,0.00
15,2857,7051020,57000,[8600000],"[5, 5, 3]","[9710000, 4670000, 2500000]",0.705320,2.990787,2.750000,-8.60
16,3691,5959533,71000,[],[],[],0.597584,0.000000,0.000000,0.00
17,2095,7132511,55000,[3880000],"[4, 2, 2]","[9920000, 3380000]",0.713269,2.356485,1.833333,-3.88
18,4145,4862477,94000,[3240000],"[5, 5, 2]","[1740000, 4320000, 4300000]",0.490191,1.835578,2.666667,-3.24
19,6873,3839957,54000,[],"[5, 3, 3]","[9630000, 7530000]",0.383952,3.040397,2.416667,0.00
20,5782,1757375,53000,[],[],"[7430000, 4220000]",0.175618,2.064139,0.000000,0.00
21,9107,983187,21000,[],"[3, 1]","[4460000, 9590000]",0.095008,2.489369,0.583333,0.00
22,6489,6773343,62000,[6940000],"[2, 1, 4]",[],0.678056,0.000000,1.750000,-6.94
23,1918,3504702,5000,[250000],[1],"[2660000, 5760000]",0.345531,1.491850,0.083333,-0.25
24,4533,2091460,11000,[6290000],[4],"[1030000, 2250000, 3610000]",0.204823,1.220765,0.333333,-6.29
25,1795,2466481,50000,[],[2],"[7740000, 1060000, 3050000]",0.246220,2.099575,0.166667,0.00
26,1721,4140294,16000,[7750000],"[2, 5]","[5780000, 2960000, 9260000]",0.410182,3.189227,1.000000,-7.75
27,3671,3676891,13000,[4610000],[4],"[5910000, 4380000]",0.363547,1.823175,0.333333,-4.61
28,3006,5588997,44000,[2680000],[],[1980000],0.557835,0.350815,0.000000,-2.68
29,8244,7786210,78000,[],"[5, 1]",[],0.780931,0.000000,0.916667,0.00
...,...,...,...,...,...,...,...,...,...,...
970,4119,4300706,28000,[7970000],"[2, 4]",[3680000],0.427421,0.652020,0.833333,-7.97
971,1514,4427606,92000,[2430000],"[5, 4]","[8650000, 5100000]",0.446509,2.436215,1.166667,-2.43
972,2357,2866776,65000,[1140000],"[2, 1]","[3040000, 4690000]",0.287745,1.369596,0.416667,-1.14
973,5472,6973237,99000,[4920000],[5],[4310000],0.701743,0.763643,0.416667,-4.92
974,2151,7888282,55000,[5830000],"[4, 3]","[2140000, 7390000, 7390000]",0.788837,2.997874,0.916667,-5.83
975,5928,2470343,8000,[1920000],"[1, 3, 4]","[6980000, 5380000]",0.242407,2.189936,1.916667,-1.92
976,5720,8888667,12000,[3260000],[],"[5410000, 2160000]",0.884564,1.341247,0.000000,-3.26
977,7980,9111539,29000,[3400000],[5],"[7920000, 3780000]",0.908549,2.072998,0.416667,-3.40
978,2683,6979409,79000,[],[3],"[7530000, 3520000, 4320000]",0.700360,2.723246,0.250000,0.00
979,1605,5611367,36000,[],"[1, 1]",[],0.559272,0.000000,0.250000,0.00
980,1160,9992065,43000,[],[],[],0.997991,0.000000,0.000000,0.00
981,9066,3723570,20000,[],"[1, 4]","[2230000, 710000]",0.368915,0.520907,0.750000,0.00
982,2904,1541153,15000,[],[],[],0.150198,0.000000,0.000000,0.00
983,5539,1322743,28000,[],"[3, 3]",[7370000],0.129660,1.305811,0.750000,0.00
984,3058,4740527,0,[5190000],"[4, 4]","[4750000, 9410000, 3590000]",0.468599,3.144933,1.000000,-5.19
985,4987,4691535,78000,[2140000],[],"[1900000, 7860000]",0.471499,1.729270,0.000000,-2.14
986,9993,8161997,78000,[],"[3, 4, 4]",[430000],0.818505,0.076187,2.250000,0.00
987,6374,7538150,24000,[],[],[],0.750728,0.000000,0.000000,0.00
988,6439,85236,67000,[410000],"[5, 1, 5]","[2680000, 8820000]",0.009823,2.037562,2.583333,-0.41
989,4151,2534610,25000,[4360000],[],[3560000],0.250532,0.630758,0.000000,-4.36
990,9536,222024,23000,[5080000],[],[2900000],0.019101,0.513820,0.000000,-5.08
991,5668,2607700,17000,[],"[5, 3, 3]",[],0.257041,0.000000,2.416667,0.00
992,8849,1634277,60000,[3630000],"[1, 2, 1]",[],0.164009,0.000000,0.916667,-3.63
993,5674,8787080,32000,[],[],[3320000],0.876407,0.588235,0.000000,0.00
994,7888,854061,81000,[],"[4, 1]",[1700000],0.088096,0.301205,0.750000,0.00
995,5750,525137,69000,[],[2],[8320000],0.054008,1.474132,0.166667,0.00
996,4363,6637444,52000,[],[1],[],0.663468,0.000000,0.083333,0.00
997,8234,393362,77000,[7130000],"[1, 3, 2]",[],0.041632,0.000000,1.416667,-7.13
998,6081,2874638,34000,[4160000],[],[9860000],0.285431,1.746988,0.000000,-4.16
999,5584,1556203,57000,[],[4],"[4030000, 6950000]",0.155903,1.945429,0.333333,0.00

In [21]:
df['final'] = df['col12'] + df['Paid Loans Sum'] + df['Reference_factor'] + df['penalty_active_loans']

In [22]:
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans,col12,Paid Loans Sum,Reference_factor,penalty_active_loans,final
0,6652,9111907,7000,[6730000],"[1, 1, 2]",[6420000],0.906386,1.137491,0.916667,-6.73,-3.769456
1,7895,217152,61000,[730000],[],"[8810000, 7670000, 6620000]",0.022413,4.092842,0.000000,-0.73,3.385255
2,1258,9349050,41000,[],[3],"[4660000, 3950000, 3650000]",0.933497,2.172218,0.250000,0.00,3.355715
3,7156,5871704,39000,[820000],[],[230000],0.585603,0.040751,0.000000,-0.82,-0.193646
4,6882,4674149,2000,[8080000],"[1, 2, 1]","[1130000, 3510000, 9910000]",0.462162,2.577959,0.916667,-8.08,-4.123213
5,6418,4297828,67000,[1310000],"[5, 5]","[6430000, 5140000, 9330000]",0.431033,3.703047,1.250000,-1.31,4.074081
6,8753,2935226,38000,[],[2],"[4120000, 6670000, 3690000]",0.291889,2.565556,0.166667,0.00,3.024112
7,9715,206996,45000,[],"[4, 3, 4]",[],0.019798,0.000000,2.250000,0.00,2.269798
8,5052,410072,7000,[],"[4, 2, 5]",[2430000],0.036303,0.430546,2.500000,0.00,2.966849
9,7659,4340814,40000,[8910000],"[3, 4]",[4770000],0.432632,0.845145,0.916667,-8.91,-6.715556
10,9129,445111,1000,[420000],[],[4920000],0.039207,0.871722,0.000000,-0.42,0.490929
11,3601,2057426,58000,[],"[5, 1]",[],0.206119,0.000000,0.916667,0.00,1.122786
12,6095,195839,10000,[],"[3, 5]",[4660000],0.015183,0.825656,1.083333,0.00,1.924172
13,2573,6301086,64000,[],[5],[],0.631036,0.000000,0.416667,0.00,1.047702
14,9730,3785285,19000,[],"[3, 2]","[5650000, 8370000]",0.374985,2.484054,0.666667,0.00,3.525706
15,2857,7051020,57000,[8600000],"[5, 5, 3]","[9710000, 4670000, 2500000]",0.705320,2.990787,2.750000,-8.60,-2.153893
16,3691,5959533,71000,[],[],[],0.597584,0.000000,0.000000,0.00,0.597584
17,2095,7132511,55000,[3880000],"[4, 2, 2]","[9920000, 3380000]",0.713269,2.356485,1.833333,-3.88,1.023087
18,4145,4862477,94000,[3240000],"[5, 5, 2]","[1740000, 4320000, 4300000]",0.490191,1.835578,2.666667,-3.24,1.752435
19,6873,3839957,54000,[],"[5, 3, 3]","[9630000, 7530000]",0.383952,3.040397,2.416667,0.00,5.841015
20,5782,1757375,53000,[],[],"[7430000, 4220000]",0.175618,2.064139,0.000000,0.00,2.239756
21,9107,983187,21000,[],"[3, 1]","[4460000, 9590000]",0.095008,2.489369,0.583333,0.00,3.167711
22,6489,6773343,62000,[6940000],"[2, 1, 4]",[],0.678056,0.000000,1.750000,-6.94,-4.511944
23,1918,3504702,5000,[250000],[1],"[2660000, 5760000]",0.345531,1.491850,0.083333,-0.25,1.670714
24,4533,2091460,11000,[6290000],[4],"[1030000, 2250000, 3610000]",0.204823,1.220765,0.333333,-6.29,-4.531079
25,1795,2466481,50000,[],[2],"[7740000, 1060000, 3050000]",0.246220,2.099575,0.166667,0.00,2.512461
26,1721,4140294,16000,[7750000],"[2, 5]","[5780000, 2960000, 9260000]",0.410182,3.189227,1.000000,-7.75,-3.150590
27,3671,3676891,13000,[4610000],[4],"[5910000, 4380000]",0.363547,1.823175,0.333333,-4.61,-2.089944
28,3006,5588997,44000,[2680000],[],[1980000],0.557835,0.350815,0.000000,-2.68,-1.771350
29,8244,7786210,78000,[],"[5, 1]",[],0.780931,0.000000,0.916667,0.00,1.697597
...,...,...,...,...,...,...,...,...,...,...,...
970,4119,4300706,28000,[7970000],"[2, 4]",[3680000],0.427421,0.652020,0.833333,-7.97,-6.057225
971,1514,4427606,92000,[2430000],"[5, 4]","[8650000, 5100000]",0.446509,2.436215,1.166667,-2.43,1.619391
972,2357,2866776,65000,[1140000],"[2, 1]","[3040000, 4690000]",0.287745,1.369596,0.416667,-1.14,0.934007
973,5472,6973237,99000,[4920000],[5],[4310000],0.701743,0.763643,0.416667,-4.92,-3.037948
974,2151,7888282,55000,[5830000],"[4, 3]","[2140000, 7390000, 7390000]",0.788837,2.997874,0.916667,-5.83,-1.126623
975,5928,2470343,8000,[1920000],"[1, 3, 4]","[6980000, 5380000]",0.242407,2.189936,1.916667,-1.92,2.429009
976,5720,8888667,12000,[3260000],[],"[5410000, 2160000]",0.884564,1.341247,0.000000,-3.26,-1.034188
977,7980,9111539,29000,[3400000],[5],"[7920000, 3780000]",0.908549,2.072998,0.416667,-3.40,-0.001787
978,2683,6979409,79000,[],[3],"[7530000, 3520000, 4320000]",0.700360,2.723246,0.250000,0.00,3.673606
979,1605,5611367,36000,[],"[1, 1]",[],0.559272,0.000000,0.250000,0.00,0.809272
980,1160,9992065,43000,[],[],[],0.997991,0.000000,0.000000,0.00,0.997991
981,9066,3723570,20000,[],"[1, 4]","[2230000, 710000]",0.368915,0.520907,0.750000,0.00,1.639822
982,2904,1541153,15000,[],[],[],0.150198,0.000000,0.000000,0.00,0.150198
983,5539,1322743,28000,[],"[3, 3]",[7370000],0.129660,1.305811,0.750000,0.00,2.185471
984,3058,4740527,0,[5190000],"[4, 4]","[4750000, 9410000, 3590000]",0.468599,3.144933,1.000000,-5.19,-0.576469
985,4987,4691535,78000,[2140000],[],"[1900000, 7860000]",0.471499,1.729270,0.000000,-2.14,0.060769
986,9993,8161997,78000,[],"[3, 4, 4]",[430000],0.818505,0.076187,2.250000,0.00,3.144692
987,6374,7538150,24000,[],[],[],0.750728,0.000000,0.000000,0.00,0.750728
988,6439,85236,67000,[410000],"[5, 1, 5]","[2680000, 8820000]",0.009823,2.037562,2.583333,-0.41,4.220718
989,4151,2534610,25000,[4360000],[],[3560000],0.250532,0.630758,0.000000,-4.36,-3.478709
990,9536,222024,23000,[5080000],[],[2900000],0.019101,0.513820,0.000000,-5.08,-4.547079
991,5668,2607700,17000,[],"[5, 3, 3]",[],0.257041,0.000000,2.416667,0.00,2.673707
992,8849,1634277,60000,[3630000],"[1, 2, 1]",[],0.164009,0.000000,0.916667,-3.63,-2.549324
993,5674,8787080,32000,[],[],[3320000],0.876407,0.588235,0.000000,0.00,1.464642
994,7888,854061,81000,[],"[4, 1]",[1700000],0.088096,0.301205,0.750000,0.00,1.139301
995,5750,525137,69000,[],[2],[8320000],0.054008,1.474132,0.166667,0.00,1.694806
996,4363,6637444,52000,[],[1],[],0.663468,0.000000,0.083333,0.00,0.746801
997,8234,393362,77000,[7130000],"[1, 3, 2]",[],0.041632,0.000000,1.416667,-7.13,-5.671701
998,6081,2874638,34000,[4160000],[],[9860000],0.285431,1.746988,0.000000,-4.16,-2.127581
999,5584,1556203,57000,[],[4],"[4030000, 6950000]",0.155903,1.945429,0.333333,0.00,2.434665

In [23]:
file = df.to_csv('dataset.csv')