In [87]:
import pandas as pd
import numpy as np
import random

In [127]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans_no =[]
act_loans_no = [] 
ref_no =[]
fd = []

In [129]:
def list_loan_gen(len,num):
    x = []
    if num == 1: 
        for i in range(0, len):
            x.append(random.randint(0,1000)*10000) 
    else:
        for i in range(0, len):
            x.append(random.randint(1,5))
    return x

"""def ref_power_gen(len):
    x = []
    
    return x """   

def twod_ref_gen(ref_pow, num):
    x =[]
    for i in ref_pow:
        x.append(list_loan_gen(i), num)
    return x

def twod_loan_gen(p_loans, num):
    x = []
    for i in p_loans:
        x.append(list_loan_gen(i, num))
    return x

for i in range(0, 1000):
    reg_id.append(random.randint(1000,9999))
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.randint(0,5)))
    act_loans_no.append(int(random.randint(0,1)))
    ref_no.append(int(random.randint(0,3)))
    fd.append(int(random.randint(0,10)))
ref = twod_loan_gen(ref_no, 1)
p_loans = twod_loan_gen(p_loans_no, 0)
act_loans = twod_loan_gen(act_loans_no, 0)

In [130]:
df = pd.DataFrame(data={'Reg ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans, 'Level of Referees':ref})
df.head()

   A/c Bal Active Loans   Level of Referees       Paid Loans  Reg ID
0  9983691          [1]            [140000]        [1, 1, 3]    2779
1  8095316          [1]           [7200000]               []    7086
2  1060371           []                  []               []    8430
3  2739194           []  [7190000, 8940000]  [5, 3, 4, 3, 5]    2875
4  9126956           []           [8240000]        [5, 1, 2]    1794