In [156]:
import pandas as pd
import numpy as np
import random

In [157]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans_no =[]
act_loans_no = [] 
ref_no =[]
fd = []

In [158]:
def list_loan_gen(len,num):
    x = []
    if num == 0: 
        for i in range(0, len):
            x.append(random.randint(0,1000)*10000) 
    else:
        for i in range(0, len):
            x.append(random.randint(1,5))
    return x

def twoD_loan_gen(p_loans, num):
    x = []
    for i in p_loans:
        x.append(list_loan_gen(i, num))
    return x

for i in range(0, 1000):
    reg_id.append(random.randint(1000,9999))
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.randint(0,5)))
    act_loans_no.append(int(random.randint(0,1)))
    ref_no.append(int(random.randint(0,3)))
    fd.append(int(random.randint(0,100)*1000))
ref = twoD_loan_gen(ref_no, 1)
p_loans = twoD_loan_gen(p_loans_no, 0)
act_loans = twoD_loan_gen(act_loans_no, 0)

In [159]:
df = pd.DataFrame(data={'ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans, 'Level of Referees':ref, 'Fixed Deposit':fd})
df.head()

,A/c Bal,Active Loans,Fixed Deposit,ID,Level of Referees,Paid Loans
0,7802472,[830000],47000,7093,"[4, 3]","[2560000, 1500000, 4210000]"
1,4047435,[],65000,7821,"[3, 4, 1]","[8380000, 1130000, 3830000, 1320000, 480000]"
2,6040414,[],100000,3077,"[4, 1]","[3570000, 5570000, 8120000]"
3,5989314,[7550000],45000,4443,"[2, 5]","[8530000, 5120000, 6080000]"
4,9777921,[4610000],86000,3117,[],"[860000, 4040000, 2170000]"

In [160]:
cols = df.columns.tolist()
cols = ['ID', 'A/c Bal', 'Fixed Deposit', 'Active Loans', 'Level of Referees', 'Paid Loans']
df = df[cols]
df.head()

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans
0,7093,7802472,47000,[830000],"[4, 3]","[2560000, 1500000, 4210000]"
1,7821,4047435,65000,[],"[3, 4, 1]","[8380000, 1130000, 3830000, 1320000, 480000]"
2,3077,6040414,100000,[],"[4, 1]","[3570000, 5570000, 8120000]"
3,4443,5989314,45000,[7550000],"[2, 5]","[8530000, 5120000, 6080000]"
4,3117,9777921,86000,[4610000],[],"[860000, 4040000, 2170000]"

In [161]:
df.to_csv('dataset.csv')