In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans_no =[]
act_loans_no = [] 
ref_no =[]
fd = []

In [3]:
def list_loan_gen(len,num):
    x = []
    if num == 0: 
        for i in range(0, len):
            x.append(random.randint(0,1000)*10000) 
    else:
        for i in range(0, len):
            x.append(random.randint(1, 5))
    return x

def twoD_loan_gen(p_loans, num):
    x = []
    for i in p_loans:
        x.append(list_loan_gen(i, num))
    return x

for i in range(0, 1000):
    reg_id.append(random.randint(1000, 9999))
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.randint(0, 3)))
    act_loans_no.append(int(random.randint(0, 1)))
    ref_no.append(int(random.randint(0, 3)))
    fd.append(int(random.randint(0, 100)*1000))
    
ref = twoD_loan_gen(ref_no, 1)
p_loans = twoD_loan_gen(p_loans_no, 0)
act_loans = twoD_loan_gen(act_loans_no, 0)

In [4]:
df = pd.DataFrame(data={'ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans, 'Level of Referees':ref, 'Fixed Deposit':fd})
df.head()

,A/c Bal,Active Loans,Fixed Deposit,ID,Level of Referees,Paid Loans
0,4178338,[1810000],83000,1870,"[5, 3, 1]","[2710000, 150000, 5030000]"
1,2290870,[],56000,3946,"[2, 2, 4]","[9650000, 9680000]"
2,5377838,[5770000],86000,2419,[2],"[9460000, 1160000, 8880000]"
3,2671945,[],41000,9536,[],"[3540000, 4030000]"
4,2332895,[],59000,8459,"[5, 3, 2]","[1040000, 4940000, 9250000]"

In [10]:
cols = df.columns.tolist()
cols = ['ID', 'A/c Bal', 'Fixed Deposit', 'Active Loans', 'Level of Referees', 'Paid Loans']
df = df[cols]
df

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans
0,1870,4178338,83000,[1810000],"[5, 3, 1]","[2710000, 150000, 5030000]"
1,3946,2290870,56000,[],"[2, 2, 4]","[9650000, 9680000]"
2,2419,5377838,86000,[5770000],[2],"[9460000, 1160000, 8880000]"
3,9536,2671945,41000,[],[],"[3540000, 4030000]"
4,8459,2332895,59000,[],"[5, 3, 2]","[1040000, 4940000, 9250000]"
5,8237,4675941,21000,[5560000],"[2, 4]","[1690000, 3550000]"
6,6679,7649309,77000,[7650000],"[5, 4, 4]","[2260000, 6460000]"
7,4246,9374176,77000,[],"[2, 2, 4]",[]
8,6724,9332126,74000,[3280000],[3],"[6860000, 9030000, 2320000]"
9,8214,6783349,14000,[],[2],[8840000]
10,4439,1869006,18000,[8140000],"[1, 3]","[550000, 6600000]"
11,1023,610355,33000,[],"[3, 3]",[1560000]
12,3189,470673,74000,[],[],[]
13,6600,2466750,71000,[5830000],"[4, 5, 5]","[9690000, 8450000]"
14,7286,164612,20000,[],[4],"[9580000, 8270000]"
15,4947,4958825,7000,[],"[1, 4]","[190000, 200000, 8960000]"
16,2060,8598347,38000,[6900000],[3],[]
17,9264,4701345,51000,[2400000],"[5, 5, 3]",[2110000]
18,4360,2800161,13000,[],[],"[1410000, 1120000, 8910000]"
19,7690,7530624,40000,[],"[4, 3]",[9530000]
20,9816,5454798,19000,[],"[5, 3, 2]",[]
21,7775,7848686,18000,[1130000],[3],[]
22,9777,7451148,43000,[],[4],"[3620000, 1600000]"
23,2979,2581109,31000,[4030000],"[1, 4, 5]","[5340000, 5500000, 6910000]"
24,4338,5625379,67000,[2720000],[],[80000]
25,8874,5702131,79000,[],[5],[1000000]
26,1545,5185506,42000,[],[1],[3820000]
27,5358,7045069,10000,[6400000],[],"[2520000, 3160000, 3080000]"
28,4760,2938105,17000,[4840000],[],"[4640000, 6520000]"
29,9371,3844992,95000,[6030000],"[5, 3]",[]
...,...,...,...,...,...,...
970,5190,1488707,86000,[1000000],[],"[7220000, 280000]"
971,5673,4219954,48000,[930000],[],"[8080000, 3550000, 4120000]"
972,2170,8175337,93000,[],"[3, 2, 1]",[4790000]
973,9072,3699766,17000,[5300000],[],"[890000, 8270000]"
974,8146,2532153,46000,[6040000],"[3, 1]","[9000000, 7290000, 5240000]"
975,3176,1303372,56000,[780000],"[4, 4, 1]",[8750000]
976,7177,9318898,99000,[],"[1, 3]","[3620000, 5900000, 1910000]"
977,8318,3214983,10000,[2780000],"[2, 4]",[]
978,7898,7714042,31000,[],"[3, 3, 2]",[]
979,6153,5298530,97000,[4910000],[5],"[7700000, 5330000, 4640000]"
980,2386,6284899,65000,[9260000],[],[140000]
981,7530,2130792,78000,[],[3],[9080000]
982,2446,9494492,45000,[2750000],"[4, 2]","[7940000, 6800000, 3910000]"
983,5374,4596440,38000,[3190000],"[5, 3, 5]",[6670000]
984,2695,4786373,44000,[4740000],"[5, 2]",[7120000]
985,5256,3613859,47000,[3740000],"[5, 4]",[7880000]
986,3995,5502292,58000,[],"[1, 5, 3]","[4030000, 5520000, 6910000]"
987,8855,2655141,19000,[6290000],[],"[6700000, 8000000, 2300000]"
988,4611,9687119,74000,[2560000],"[2, 3]",[9190000]
989,1437,7445192,28000,[],"[4, 5]",[]
990,3273,1191096,30000,[4680000],[5],[]
991,4986,8297897,55000,[],[2],"[6050000, 2940000, 8480000]"
992,2098,2591354,89000,[],[],"[9180000, 1300000]"
993,8086,384312,88000,[670000],[1],"[760000, 5340000]"
994,2158,5902586,79000,[6480000],[5],"[4280000, 4090000, 6950000]"
995,2683,7024681,65000,[1530000],"[5, 4]",[9800000]
996,4041,8962533,76000,[3580000],[5],[5660000]
997,8865,2521805,12000,[5680000],[2],[]
998,3853,8921981,91000,[],"[4, 1]","[6260000, 7450000, 2630000]"
999,9654,467578,84000,[3220000],[1],[]

In [15]:
df['col12']

0      0.420406
1      0.229163
2      0.540529
3      0.265732
4      0.233661
5      0.463921
6      0.766535
7      0.938839
8      0.934339
9      0.673738
10     0.183226
11     0.058993
12     0.049135
13     0.248231
14     0.013167
15     0.490780
16     0.857443
17     0.469455
18     0.275743
19     0.750984
20     0.541524
21     0.780558
22     0.743344
23     0.255659
24     0.563359
25     0.572224
26     0.516921
27     0.699483
28     0.289922
29     0.388306
         ...
970    0.152029
971    0.421067
972    0.820681
973    0.366007
974    0.252267
975    0.130518
976    0.935515
977    0.316881
978    0.768407
979    0.533705
980    0.629041
981    0.215370
982    0.947661
983    0.457677
984    0.477250
985    0.360422
986    0.550164
987    0.261855
988    0.969800
989    0.741251
990    0.116705
991    0.829128
992    0.262476
993    0.041906
994    0.592249
995    0.702940
996    0.897618
997    0.247837
998    0.895066
999    0.049825
Name: col12, Length: 1000, dtype: float64

In [14]:
df['col12'] = df['A/c Bal']+df['Fixed Deposit']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['col12'] = scaler.fit_transform(df['col12'].reshape(-1,1))

C:\Users\mittr\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """
C:\Users\mittr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [9]:
x = [] 
for i in df['Paid Loans']:
    if(len(i)>0):
        k = 0
        for j in range(0,len(i)):
            k = k + i[j]
        x.append(k)
    else:
        x.append(0)
x

#df['Paid Loans']

[7890000,
 19330000,
 19500000,
 7570000,
 15230000,
 5240000,
 8720000,
 0,
 18210000,
 8840000,
 7150000,
 1560000,
 0,
 18140000,
 17850000,
 9350000,
 0,
 2110000,
 11440000,
 9530000,
 0,
 0,
 5220000,
 17750000,
 80000,
 1000000,
 3820000,
 8760000,
 11160000,
 0,
 15590000,
 8270000,
 10350000,
 9000000,
 12130000,
 10230000,
 21480000,
 8930000,
 9380000,
 0,
 0,
 6500000,
 9200000,
 7180000,
 0,
 0,
 8750000,
 16600000,
 2160000,
 17680000,
 11430000,
 22000000,
 16450000,
 11980000,
 0,
 100000,
 17750000,
 21150000,
 0,
 0,
 3380000,
 6570000,
 0,
 14450000,
 10610000,
 2640000,
 8970000,
 0,
 4800000,
 8010000,
 0,
 0,
 3980000,
 16040000,
 3660000,
 2170000,
 18770000,
 24580000,
 0,
 7450000,
 0,
 6950000,
 4580000,
 0,
 9170000,
 10470000,
 15420000,
 6920000,
 0,
 10720000,
 16330000,
 14640000,
 14470000,
 10270000,
 0,
 0,
 14450000,
 0,
 24790000,
 10930000,
 15490000,
 10910000,
 2360000,
 3190000,
 3010000,
 0,
 9330000,
 9820000,
 5160000,
 3300000,
 0,
 0,
 0,
 0,
 12120000,
 0,
 7480000,
 3510000,
 0,
 6600000,
 0,
 16570000,
 7710000,
 8840000,
 1610000,
 15850000,
 17270000,
 3780000,
 0,
 0,
 19820000,
 2380000,
 18580000,
 0,
 11910000,
 0,
 1070000,
 0,
 17790000,
 20310000,
 3420000,
 15100000,
 0,
 10800000,
 20870000,
 3360000,
 19590000,
 0,
 3790000,
 7720000,
 20110000,
 6460000,
 10180000,
 12610000,
 19160000,
 7860000,
 12310000,
 6320000,
 16390000,
 6940000,
 2850000,
 9940000,
 4730000,
 19320000,
 13920000,
 17350000,
 4920000,
 0,
 0,
 1910000,
 16930000,
 11630000,
 2850000,
 470000,
 11020000,
 18050000,
 0,
 0,
 4460000,
 6780000,
 5900000,
 5710000,
 16010000,
 12050000,
 4810000,
 10420000,
 0,
 6090000,
 4440000,
 10030000,
 0,
 20000000,
 8260000,
 11480000,
 0,
 9080000,
 21520000,
 17030000,
 17510000,
 0,
 0,
 18000000,
 0,
 8790000,
 6630000,
 2620000,
 17150000,
 430000,
 18020000,
 0,
 8550000,
 11960000,
 22470000,
 14660000,
 0,
 10120000,
 12010000,
 0,
 5420000,
 12170000,
 4560000,
 4580000,
 0,
 11990000,
 8160000,
 17340000,
 9260000,
 7490000,
 350000,
 6110000,
 7450000,
 4760000,
 0,
 0,
 9750000,
 8740000,
 0,
 21300000,
 10210000,
 0,
 8450000,
 6790000,
 14180000,
 0,
 14120000,
 0,
 0,
 10410000,
 9460000,
 1340000,
 0,
 8780000,
 17720000,
 0,
 10770000,
 0,
 1750000,
 0,
 10250000,
 0,
 13220000,
 2620000,
 960000,
 9470000,
 13700000,
 0,
 0,
 16640000,
 13430000,
 0,
 0,
 1650000,
 9620000,
 1250000,
 18170000,
 15550000,
 3170000,
 0,
 13630000,
 10650000,
 0,
 5400000,
 13190000,
 0,
 9520000,
 8580000,
 4920000,
 11150000,
 1930000,
 12830000,
 0,
 0,
 7950000,
 8930000,
 10470000,
 0,
 0,
 26110000,
 0,
 5270000,
 7040000,
 970000,
 9710000,
 460000,
 0,
 4250000,
 4020000,
 12980000,
 17860000,
 0,
 510000,
 13010000,
 1230000,
 0,
 4820000,
 8970000,
 13980000,
 15750000,
 5480000,
 13780000,
 6410000,
 0,
 0,
 15180000,
 20140000,
 6430000,
 10300000,
 0,
 0,
 6910000,
 0,
 6480000,
 6160000,
 0,
 23270000,
 20660000,
 490000,
 9600000,
 5280000,
 4430000,
 5100000,
 16890000,
 15130000,
 11460000,
 7590000,
 0,
 15300000,
 3780000,
 0,
 24070000,
 8510000,
 11380000,
 15700000,
 2020000,
 9810000,
 8540000,
 3800000,
 14860000,
 6210000,
 12230000,
 16590000,
 9360000,
 4810000,
 8650000,
 0,
 17120000,
 0,
 0,
 18410000,
 3000000,
 19860000,
 4760000,
 17590000,
 8680000,
 370000,
 8420000,
 15580000,
 6970000,
 0,
 0,
 12670000,
 14740000,
 0,
 9300000,
 13400000,
 0,
 9150000,
 5390000,
 0,
 610000,
 14140000,
 18640000,
 11050000,
 18630000,
 2790000,
 11510000,
 13490000,
 19150000,
 0,
 15150000,
 5750000,
 0,
 8600000,
 9810000,
 0,
 15200000,
 13060000,
 18050000,
 10650000,
 3090000,
 8790000,
 18520000,
 0,
 10980000,
 6790000,
 4790000,
 3330000,
 6690000,
 3400000,
 9620000,
 0,
 0,
 5600000,
 0,
 9850000,
 17950000,
 10270000,
 2720000,
 10220000,
 12960000,
 16740000,
 22410000,
 1330000,
 420000,
 630000,
 16680000,
 290000,
 5940000,
 0,
 14010000,
 370000,
 10090000,
 18210000,
 9200000,
 12850000,
 17320000,
 0,
 8130000,
 14390000,
 3480000,
 19710000,
 7900000,
 19980000,
 17270000,
 8250000,
 0,
 15950000,
 5000000,
 12510000,
 12950000,
 280000,
 2610000,
 0,
 6180000,
 5610000,
 10610000,
 10040000,
 0,
 18350000,
 17250000,
 5380000,
 0,
 24920000,
 3890000,
 9730000,
 10050000,
 13980000,
 5930000,
 0,
 12700000,
 11240000,
 8660000,
 15800000,
 11940000,
 13050000,
 0,
 5950000,
 5500000,
 9720000,
 12680000,
 0,
 3260000,
 5380000,
 4310000,
 16060000,
 4160000,
 7900000,
 0,
 10100000,
 14240000,
 17350000,
 2110000,
 4480000,
 14300000,
 0,
 3920000,
 3450000,
 10170000,
 7240000,
 4280000,
 14070000,
 4290000,
 9520000,
 5380000,
 19720000,
 4240000,
 7060000,
 1970000,
 0,
 19620000,
 0,
 0,
 7380000,
 26300000,
 6370000,
 4840000,
 0,
 12720000,
 3610000,
 5780000,
 12540000,
 19370000,
 13890000,
 9300000,
 6290000,
 3230000,
 12780000,
 8280000,
 10230000,
 11790000,
 0,
 1460000,
 17920000,
 4490000,
 0,
 12420000,
 0,
 9630000,
 10470000,
 6950000,
 6090000,
 9550000,
 16720000,
 170000,
 14680000,
 17240000,
 8240000,
 0,
 0,
 6080000,
 17620000,
 0,
 7570000,
 13210000,
 7380000,
 8770000,
 0,
 1260000,
 3190000,
 4460000,
 18190000,
 2700000,
 10280000,
 2320000,
 11500000,
 21080000,
 0,
 0,
 0,
 70000,
 17570000,
 19910000,
 27660000,
 270000,
 990000,
 0,
 5560000,
 13590000,
 7280000,
 15760000,
 7420000,
 10800000,
 5600000,
 13980000,
 13270000,
 6020000,
 6730000,
 8660000,
 0,
 5390000,
 6660000,
 0,
 7520000,
 0,
 5630000,
 0,
 0,
 16770000,
 14460000,
 0,
 23080000,
 13520000,
 8800000,
 730000,
 16970000,
 13580000,
 1890000,
 19840000,
 5160000,
 11030000,
 0,
 8110000,
 16210000,
 1090000,
 0,
 11120000,
 0,
 0,
 8360000,
 0,
 13420000,
 11990000,
 3560000,
 13390000,
 5090000,
 11890000,
 0,
 0,
 10930000,
 16990000,
 660000,
 10140000,
 9570000,
 10530000,
 7690000,
 8090000,
 6550000,
 9520000,
 20180000,
 11550000,
 810000,
 8960000,
 5120000,
 6380000,
 17690000,
 0,
 16490000,
 11630000,
 0,
 0,
 9680000,
 3970000,
 0,
 0,
 27110000,
 11820000,
 16740000,
 0,
 0,
 9750000,
 0,
 240000,
 5430000,
 0,
 0,
 0,
 7850000,
 0,
 0,
 0,
 9320000,
 0,
 0,
 11970000,
 0,
 10800000,
 0,
 0,
 5040000,
 0,
 14190000,
 15360000,
 0,
 570000,
 18130000,
 8090000,
 12140000,
 9470000,
 3740000,
 8840000,
 13290000,
 18780000,
 0,
 1800000,
 0,
 0,
 4510000,
 3260000,
 0,
 10180000,
 0,
 2310000,
 9980000,
 16820000,
 17360000,
 12730000,
 14010000,
 1300000,
 0,
 18950000,
 8060000,
 3270000,
 5330000,
 0,
 0,
 1290000,
 0,
 5010000,
 17360000,
 15780000,
 8390000,
 0,
 7080000,
 4450000,
 9740000,
 0,
 18670000,
 0,
 16600000,
 0,
 7040000,
 1170000,
 4840000,
 4080000,
 5550000,
 7970000,
 17730000,
 8780000,
 0,
 0,
 0,
 140000,
 0,
 5370000,
 0,
 0,
 6810000,
 0,
 7100000,
 6840000,
 15320000,
 24580000,
 6510000,
 16940000,
 0,
 8450000,
 0,
 13070000,
 15990000,
 10900000,
 12660000,
 19890000,
 8890000,
 13710000,
 5390000,
 22940000,
 15690000,
 8690000,
 1650000,
 7530000,
 9880000,
 13510000,
 9350000,
 8850000,
 10840000,
 0,
 10030000,
 2820000,
 1140000,
 0,
 6190000,
 0,
 7080000,
 4980000,
 70000,
 0,
 0,
 3640000,
 7760000,
 17840000,
 3300000,
 9670000,
 11430000,
 6630000,
 6150000,
 13870000,
 110000,
 0,
 7440000,
 11480000,
 0,
 23340000,
 8170000,
 4360000,
 20980000,
 0,
 11290000,
 8630000,
 0,
 0,
 670000,
 22060000,
 4630000,
 1820000,
 0,
 12650000,
 11140000,
 22500000,
 15740000,
 0,
 10770000,
 20840000,
 0,
 3360000,
 0,
 9760000,
 1920000,
 0,
 13280000,
 16750000,
 15750000,
 16630000,
 11440000,
 19610000,
 6000000,
 8500000,
 13420000,
 0,
 2070000,
 0,
 13890000,
 0,
 8730000,
 0,
 7080000,
 9110000,
 0,
 0,
 7010000,
 0,
 9020000,
 9630000,
 12010000,
 0,
 13450000,
 0,
 4600000,
 7970000,
 13720000,
 13140000,
 0,
 0,
 12280000,
 20580000,
 12640000,
 11040000,
 5830000,
 3880000,
 12810000,
 4210000,
 17910000,
 9650000,
 10770000,
 2860000,
 15400000,
 10540000,
 0,
 13710000,
 6060000,
 6240000,
 4270000,
 16390000,
 6590000,
 23100000,
 6860000,
 2130000,
 9770000,
 3240000,
 9810000,
 0,
 0,
 16660000,
 0,
 0,
 1340000,
 13860000,
 13320000,
 16480000,
 10730000,
 0,
 9990000,
 0,
 17220000,
 6670000,
 22420000,
 0,
 12880000,
 0,
 20270000,
 18610000,
 8500000,
 12500000,
 11670000,
 5380000,
 5740000,
 17750000,
 7620000,
 4060000,
 18750000,
 3600000,
 7730000,
 6270000,
 530000,
 8530000,
 0,
 3790000,
 1480000,
 11370000,
 4730000,
 0,
 14960000,
 4260000,
 0,
 0,
 8460000,
 17190000,
 0,
 10060000,
 21370000,
 0,
 17350000,
 0,
 8520000,
 16540000,
 12960000,
 2240000,
 0,
 15770000,
 1970000,
 9260000,
 8640000,
 22960000,
 0,
 5590000,
 4780000,
 16420000,
 11090000,
 700000,
 0,
 20520000,
 7500000,
 15750000,
 4790000,
 9160000,
 21530000,
 8750000,
 11430000,
 0,
 0,
 17670000,
 140000,
 9080000,
 18650000,
 6670000,
 7120000,
 7880000,
 16460000,
 17000000,
 9190000,
 0,
 0,
 17470000,
 10480000,
 6100000,
 15320000,
 9800000,
 5660000,
 0,
 16340000,
 0]

In [ ]:
df['Paid Loans Sum'] = x

In [17]:



scaler = MinMaxScaler()
df['col12'] = scaler.fit_transform(df['Paid Loans Sum'].reshape(-1,1))

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans,col12,Paid Loans Sum
0,1870,4178338,83000,[1810000],"[5, 3, 1]","[2710000, 150000, 5030000]",0.420406,7890000
1,3946,2290870,56000,[],"[2, 2, 4]","[9650000, 9680000]",0.229163,19330000
2,2419,5377838,86000,[5770000],[2],"[9460000, 1160000, 8880000]",0.540529,19500000
3,9536,2671945,41000,[],[],"[3540000, 4030000]",0.265732,7570000
4,8459,2332895,59000,[],"[5, 3, 2]","[1040000, 4940000, 9250000]",0.233661,15230000
5,8237,4675941,21000,[5560000],"[2, 4]","[1690000, 3550000]",0.463921,5240000
6,6679,7649309,77000,[7650000],"[5, 4, 4]","[2260000, 6460000]",0.766535,8720000
7,4246,9374176,77000,[],"[2, 2, 4]",[],0.938839,0
8,6724,9332126,74000,[3280000],[3],"[6860000, 9030000, 2320000]",0.934339,18210000
9,8214,6783349,14000,[],[2],[8840000],0.673738,8840000
10,4439,1869006,18000,[8140000],"[1, 3]","[550000, 6600000]",0.183226,7150000
11,1023,610355,33000,[],"[3, 3]",[1560000],0.058993,1560000
12,3189,470673,74000,[],[],[],0.049135,0
13,6600,2466750,71000,[5830000],"[4, 5, 5]","[9690000, 8450000]",0.248231,18140000
14,7286,164612,20000,[],[4],"[9580000, 8270000]",0.013167,17850000
15,4947,4958825,7000,[],"[1, 4]","[190000, 200000, 8960000]",0.490780,9350000
16,2060,8598347,38000,[6900000],[3],[],0.857443,0
17,9264,4701345,51000,[2400000],"[5, 5, 3]",[2110000],0.469455,2110000
18,4360,2800161,13000,[],[],"[1410000, 1120000, 8910000]",0.275743,11440000
19,7690,7530624,40000,[],"[4, 3]",[9530000],0.750984,9530000
20,9816,5454798,19000,[],"[5, 3, 2]",[],0.541524,0
21,7775,7848686,18000,[1130000],[3],[],0.780558,0
22,9777,7451148,43000,[],[4],"[3620000, 1600000]",0.743344,5220000
23,2979,2581109,31000,[4030000],"[1, 4, 5]","[5340000, 5500000, 6910000]",0.255659,17750000
24,4338,5625379,67000,[2720000],[],[80000],0.563359,80000
25,8874,5702131,79000,[],[5],[1000000],0.572224,1000000
26,1545,5185506,42000,[],[1],[3820000],0.516921,3820000
27,5358,7045069,10000,[6400000],[],"[2520000, 3160000, 3080000]",0.699483,8760000
28,4760,2938105,17000,[4840000],[],"[4640000, 6520000]",0.289922,11160000
29,9371,3844992,95000,[6030000],"[5, 3]",[],0.388306,0
...,...,...,...,...,...,...,...,...
970,5190,1488707,86000,[1000000],[],"[7220000, 280000]",0.152029,7500000
971,5673,4219954,48000,[930000],[],"[8080000, 3550000, 4120000]",0.421067,15750000
972,2170,8175337,93000,[],"[3, 2, 1]",[4790000],0.820681,4790000
973,9072,3699766,17000,[5300000],[],"[890000, 8270000]",0.366007,9160000
974,8146,2532153,46000,[6040000],"[3, 1]","[9000000, 7290000, 5240000]",0.252267,21530000
975,3176,1303372,56000,[780000],"[4, 4, 1]",[8750000],0.130518,8750000
976,7177,9318898,99000,[],"[1, 3]","[3620000, 5900000, 1910000]",0.935515,11430000
977,8318,3214983,10000,[2780000],"[2, 4]",[],0.316881,0
978,7898,7714042,31000,[],"[3, 3, 2]",[],0.768407,0
979,6153,5298530,97000,[4910000],[5],"[7700000, 5330000, 4640000]",0.533705,17670000
980,2386,6284899,65000,[9260000],[],[140000],0.629041,140000
981,7530,2130792,78000,[],[3],[9080000],0.215370,9080000
982,2446,9494492,45000,[2750000],"[4, 2]","[7940000, 6800000, 3910000]",0.947661,18650000
983,5374,4596440,38000,[3190000],"[5, 3, 5]",[6670000],0.457677,6670000
984,2695,4786373,44000,[4740000],"[5, 2]",[7120000],0.477250,7120000
985,5256,3613859,47000,[3740000],"[5, 4]",[7880000],0.360422,7880000
986,3995,5502292,58000,[],"[1, 5, 3]","[4030000, 5520000, 6910000]",0.550164,16460000
987,8855,2655141,19000,[6290000],[],"[6700000, 8000000, 2300000]",0.261855,17000000
988,4611,9687119,74000,[2560000],"[2, 3]",[9190000],0.969800,9190000
989,1437,7445192,28000,[],"[4, 5]",[],0.741251,0
990,3273,1191096,30000,[4680000],[5],[],0.116705,0
991,4986,8297897,55000,[],[2],"[6050000, 2940000, 8480000]",0.829128,17470000
992,2098,2591354,89000,[],[],"[9180000, 1300000]",0.262476,10480000
993,8086,384312,88000,[670000],[1],"[760000, 5340000]",0.041906,6100000
994,2158,5902586,79000,[6480000],[5],"[4280000, 4090000, 6950000]",0.592249,15320000
995,2683,7024681,65000,[1530000],"[5, 4]",[9800000],0.702940,9800000
996,4041,8962533,76000,[3580000],[5],[5660000],0.897618,5660000
997,8865,2521805,12000,[5680000],[2],[],0.247837,0
998,3853,8921981,91000,[],"[4, 1]","[6260000, 7450000, 2630000]",0.895066,16340000
999,9654,467578,84000,[3220000],[1],[],0.049825,0