In [2]:
import sklearn.linear_model
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('dataset.csv')
df = df.drop('Unnamed: 0',1)
df.head()

,ID,A/c Bal,Fixed Deposit,Active Loans,Level of Referees,Paid Loans
0,5015,9478671,42000,[1300000],"[2, 2]",[8590000]
1,2367,5175151,43000,[8000000],[],[]
2,2772,5804462,23000,[9620000],[3],"[4440000, 7540000, 9110000]"
3,3972,3948545,23000,[],"[1, 2, 1]",[]
4,8546,7710633,57000,[],[],"[6310000, 9730000]"

In [ ]:
X_train,y_trai