In [87]:
import pandas as pd
import numpy as np
import random

In [143]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans_no =[]
act_loans_no = [] 
ref_no =[]
fd = []

In [144]:
def list_loan_gen(len,num):
    x = []
    if num == 0: 
        for i in range(0, len):
            x.append(random.randint(0,1000)*10000) 
    else:
        for i in range(0, len):
            x.append(random.randint(1,5))
    return x

def twod_loan_gen(p_loans, num):
    x = []
    for i in p_loans:
        x.append(list_loan_gen(i, num))
    return x

for i in range(0, 1000):
    reg_id.append(random.randint(1000,9999))
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.randint(0,5)))
    act_loans_no.append(int(random.randint(0,1)))
    ref_no.append(int(random.randint(0,3)))
    fd.append(int(random.randint(0,100)*1000))
ref = twod_loan_gen(ref_no, 1)
p_loans = twod_loan_gen(p_loans_no, 0)
act_loans = twod_loan_gen(act_loans_no, 0)

In [145]:
df = pd.DataFrame(data={'ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans, 'Level of Referees':ref, 'Fixed Deposit':fd})
df.head()

,A/c Bal,Active Loans,Fixed Deposit,ID,Level of Referees,Paid Loans
0,4528001,[8150000],70000,7621,[],[]
1,6820373,[],57000,2183,[5],"[7470000, 3280000, 7590000]"
2,662586,[],76000,3754,[1],[4820000]
3,3169778,[],35000,9676,"[4, 3]","[1060000, 160000, 9170000, 9710000, 5300000]"
4,5003250,[9670000],6000,3320,"[4, 5]","[6670000, 310000]"