In [87]:
import pandas as pd
import numpy as np
import random

In [88]:
reg_id = []
ac_bal = []
p_loans_no = []
act_loans_no = []
p_loans =[]
act_loans = []

In [89]:
def list_gen(len):
    x = []
    for i in range(0,len):
        x.append(random.randint(0,1000)*10000) 
    return x

def loan_amt(p_loans):
    x = []
    for i in p_loans:
        x.append(list_gen(i))
    return x

for i in range(0, 1000):
    reg_id.append(random.randint(1000,9999))
    ac_bal.append(int(random.random()*10000000))
    p_loans_no.append(int(random.random()*5))
    act_loans_no.append(int(random.randint(0,1)))
p_loans = loan_amt(p_loans_no)
act_loans = loan_amt(act_loans_no)

In [93]:
len(p_loans)

1000

In [94]:
df = pd.DataFrame(data={'Reg ID':reg_id, 'A/c Bal':ac_bal, 'Paid Loans':p_loans, 'Active Loans':act_loans})
df.head()

   A/c Bal Active Loans                           Paid Loans  Reg ID
0  7227788           []                   [4910000, 2610000]    7527
1  5787666           []  [210000, 7520000, 1620000, 9470000]    3875
2  5812735           []                            [9800000]    1058
3  1804772           []                   [4430000, 8860000]    4950
4  7239025    [2860000]                                   []    2958